.account-pages {
    padding: 100px 0;
    border-top: 1px solid #f3f3f3;
}

.login-box {
    width: 750px;
    margin: 0 auto;
    text-align: center;
    background: #ffffd5;
    background-image: url(../imgs/pattern.png) !important;
    background-position: center -440px;
    border: 2px solid #f9f9cc;
}
.login-box .card-body {
    padding: 40px;
}
.login-box h3 {
    margin-bottom: 30px;
    position: relative;
    font-size: 42px;
    color: #ffb542;
    position: relative;
}

.login-box h3:after {
    position: absolute;
    width: 80px;
    height: 4px;
    background: orange;
    content: "";
    left: 0;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
    transform: rotate(2deg)
}
.login-box label {
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.login-box .form-group input {
    width: 100%;
    border: 1px solid #f7f7b8;
    padding: 15px;
}

.login-box .form-group textarea {
    width: 100%;
    border: 1px solid #f7f7b8;
    padding: 15px;
}

.login-box .useful {
    text-align: left;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.login-box .useful a{
	color: #4d4861;
	font-size: 12px;
}

.login-box .form-ftr {
    padding: 20px 0 0 0;
    border-top: 1px solid #ffff9c;
}

.login-box .form-ftr p{
	margin-bottom: 0;
}

.login-box .form-ftr a{
	font-size: 12px;
	color: #4d4861;
}

.login-box input[type="Submit"] {
    padding: 10px 50px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: #4d4861;
    margin: 0 0 20px 0;
}

.user-pages{
    padding: 50px 0;
}

.user-pages .acct-head h2{
    color: #ffa500;
}
.user-pages .acct-head a{
    color: #4d4861;
    font-size: 14px;
    font-weight: bold;
}
.user-pages table{
    border:1px solid #dee2e6;
}
.user-pages .table-striped thead tr {
    background: #4d4861;
    color: #fff;
}
.user-pages .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255 249 238);
}

.user-pages .table-striped tbody tr:nth-of-type(even) {
    background-color: rgb(255 226 172 / 53%);
}

.user-pages .table-striped h4{
    font-size: 22px;
}

.user-pages .table-striped a{
    text-decoration: none;
    color: #4d4861;
}


.profile-sec {
    position: relative;
}
.user-pages .profile-sec span.profile-picture img {
    width: 100%;
    border: 2px solid #4d4861;
}
.user-pages h4.blue {
    margin-bottom: 20px;
    margin-top: 20px;
}
.profile-info-row {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-info-row .profile-info-name {
    font-weight: bold;
    margin-right: 20px;
    width: 15%;
}

a.edit-prf {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    background: #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}

a.edit-prf:hover{
    background: #b1b1b1;
}

/* */
.title-f {
    margin-bottom: 40px;
}
.panel.panel-default {
    margin-bottom: 20px;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading .panel-title{
    margin-bottom: 0;
    font-size: 18px;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  border: 1px solid #d8d8d8dd;
  text-decoration: none;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.panel-collapse{
    padding: 20px;
    border:1px solid #ddd;
}