@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Open+Sans:wght@300;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Chewy', cursive;
}

i {
    font-family: fontawesome;
    font-style: normal;
}

.navbar-brand {
    font-family: 'Chewy', cursive;
    font-size: 40px !important;
    color: red !important;
}

.top-bar {
    background: red;
    color: #fff !important;
    padding: 5px 0;
    position: relative;
}
.top-bar:after {
    /*background-image: linear-gradient(29deg, transparent 30px,red 31px), linear-gradient(319deg, red 16px, transparent 17px);*/
    background-size: 23px 40px;
    background-repeat: repeat-x;
    position: absolute;
    content: '';
    width: 100%;
    height: 19px;
    bottom: -19px;
}
.top-bar p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

.top-bar ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin-bottom: 0;
}
.top-bar .social ul {
    text-align: left;
}
.top-bar .social ul li:first-child {
    padding-left: 0;
}

.top-bar ul li {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    padding-left: 20px;
    position: relative;
}
.top-bar ul li:after {
    position: absolute;
    width: 1px;
    height: 10px;
    background: #000;
    right: -12px;
    content: '';
    top: 5px;
}
.top-bar ul li:last-child:after {
    display: none;
}
.top-bar a {
    color: #fff !important;
    text-decoration: none;
    font-size: 16px;
}

.header {
    /*padding: 20px 0 0 0;*/
}

.header .navbar-expand-lg {
    justify-content: flex-end;
}
.header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.header .navbar ul li a.nav-link {
    color: #000 !important;
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;
}

.header .navbar ul li:last-child a.nav-link {
    /*padding-right: 0;*/
}

.cart-cir-icon {
    position: fixed;
    right: 20px;
    z-index: 9999;
    top: 62px;
    background: none !important;
}

.cart-cir-icon #collapseExample {
    position: absolute;
    right: 0;
    width: 260px;
}
.cart-cir-icon #collapseExample .card {
    box-shadow: 0px 20px 20px #00000057;
    background: aliceblue;
}
.cart-cir-icon #collapseExample .card .crt-bdy {
    min-height: 158px;
    height: 158px;
    display: block;
    overflow: auto;
}
.cart-cir-icon #collapseExample .card .crt-bdy .pro-dis {
    border-bottom: 1px solid #ddd;
}
.cart-cir-icon #collapseExample .card .crt-bdy .pro-dis .removeBtn {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
}
.cart-cir-icon #collapseExample .card .crt-bdy .pro-dis .edit-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.cart-cir-icon #collapseExample .pro-img {
    width: 100%;
    height: auto;
}

.cart-cir-icon #collapseExample .pro-img img {
    width: 100%;
}
.cart-cir-icon #collapseExample .pro-dis {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.cart-cir-icon #collapseExample .pro-dis:last-child {
    border: none;
}
.cart-cir-icon #collapseExample .pro-dis h5 {
    margin: 0;
}
.cart-cir-icon #collapseExample .pro-dis p {
    margin: 0;
}

.cart-cir-icon #collapseExample .pro-dis p .qty {
    font-size: 12px;
    margin: 0 5px 0 10px;
}

.cart-cir-icon #collapseExample .row.ftr-crt {
    background: #ddd;
    margin-top: 15px;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    background: antiquewhite;
}

.cart-cir-icon #collapseExample .row.ftr-crt p {
    margin: 0 0 0 10px;
}

.cart-cir-icon a.circle {
    width: 50px;
    height: 50px;
    background: #ffa500;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    font-style: normal;
    color: #fff !important;
    text-decoration: none;
    position: relative;
}

.cart-cir-icon a.circle span.cnt {
    position: absolute;
    top: 0;
    width: 23px;
    height: 23px;
    font-size: 10px;
    background: #000;
    line-height: 25px;
    border-radius: 50%;
}

.slider .carousel {
}

.slider .carousel-inner {
}
.slider .carousel-inner .carousel-item {
    position: relative;
}
.slider .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 58%);
    z-index: 2;
    content: '';
    top: 0;
}
.slider .carousel-inner img {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}
.inner-hero-area.slider .carousel-caption {
    top: 21%;
}
.inner-hero-area.slider.product-banner .carousel-caption {
    top: 15%;
}
.inner-hero-area.slider.gallery .carousel-caption {
    top: 9%;
}
.slider .carousel-caption {
    z-index: 9;
    position: absolute;
    top: 4%;
}

.slider .carousel-caption h5 {
    font-size: 35px;
    transform: rotate(-4deg);
    position: relative;
}

.slider .carousel-caption h5:after {
    position: absolute;
    width: 200px;
    height: 7px;
    background: yellow;
    content: '';
    left: 0;
    right: 0;
    top: -20px;
    margin: 0 auto;
}

.slider .carousel-caption p {
    font-size: 18px;
    transform: rotate(-4deg);
    margin: 0;
}

.slider .carousel-caption p:after {
    position: absolute;
    width: 200px;
    height: 7px;
    background: orange;
    content: '';
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
}

.ser-box {
    background: yellow;
    height: 202px;
    text-align: center;
    background-image: url(../imgs/pattern.png) !important;
    background-position: right -760px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
}

.cart-box {
    background: bisque;
    text-align: center;
    background-image: url(../imgs/pattern.png) !important;
    background-position: inherit;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding: 20px;
}

.cart-box img {
    width: 50% !important;
}

#cart-stiky.cart-box h3 {
    color: #000 !important;
}

#cart-stiky.cart-box .custom-btn {
    background: #000 !important;
    color: #fff !important;
    border: none;
}

#cart-stiky.cart-box a {
    color: #000 !important;
}

.filter-content .list-group a,
.custom-btn2 {
    color: orange !important;
}

.ser-box h3 {
    font-size: 32px;
}

.ser-box p {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    margin-bottom: 0;
}

.ser-box p:after {
    position: absolute;
    width: 180px;
    height: 5px;
    background: #ffffffa8;
    content: '';
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
    transform: rotate(-5deg);
}

.two {
    background: #cddc39;
    background-position: left -710px;
}

.three {
    background: #009688;
    background-position: -210px;
}

section.card-area {
    background: #fff7df;
    padding: 70px 0;
}

section.card-area .title {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

section.card-area .title:after {
    position: absolute;
    width: 200px;
    height: 7px;
    background: orange;
    content: '';
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
    transform: rotate(2deg);
}

section.card-area .title h1 {
    font-size: 42px;
    color: #ffb542;
}

section.card-area .title p {
    font-size: 15px;
    font-weight: 600;
    padding: 0 20%;
}
section.fancy-section.card-area .title p {
    margin-bottom: 0px;
}
section.card-area.fancy-section {
    padding-bottom: 0;
}
section.card-area .carousel-area {
    margin-top: 80px;
}
section.card-area .carousel-area ul {
    padding: 0;
    list-style: none;
}

section.card-area .carousel-area ul li {
    display: inline-block;
    margin: 0 9px;
}
section.bar-info {
    background: #009688;
    padding: 20px 0;
    position: relative;
}
section.bar-info:after {
    background-image: linear-gradient(29deg, transparent 30px, #009688 31px),
        linear-gradient(319deg, #009688 16px, transparent 17px);
    background-size: 23px 40px;
    background-repeat: repeat-x;
    position: absolute;
    content: '';
    width: 100%;
    height: 19px;
    bottom: -19px;
}
section.bar-info h3 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 0;
}
section.bar-info a.cstm-btn {
    border: 2px solid #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    color: #fff !important;
    font-weight: 600;
    text-decoration: none;
}

footer {
    background: #000;
    padding: 80px 0 0 0;
    background-image: url(../imgs/pattern.png) !important;
    background-position: center;
}
.ftr-top {
    padding: 30px 0 60px 0;
}
footer .form-area {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

footer .form-area h3 {
    font-size: 42px;
    color: yellow;
    position: relative;
}

footer .form-area h3:after {
    position: absolute;
    width: 200px;
    height: 5px;
    background: orange;
    content: '';
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;
    transform: rotate(2deg);
}

footer .form-area h3:before {
    position: absolute;
    width: 200px;
    height: 5px;
    background: orange;
    content: '';
    left: 0;
    right: 0;
    top: -15px;
    margin: 0 auto;
    transform: rotate(2deg);
}

footer .form-area p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer .form-area input[type='email'] {
    width: 70%;
    padding: 10px;
    border: none;
    margin-right: 10px;
}

footer .form-area input[type='submit'],
.custom-btn {
    width: 20%;
    padding: 10px;
    border: none;
    background: orange;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

footer .social ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
    margin-top: 20px;
}

footer .social ul li {
    display: inline-block;
    margin: 0 5px;
}

footer .social ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: yellow;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    color: #000 !important;
}

.copyright {
    display: inline-block;
    width: 100%;
    background: #232222;
    padding: 10px 0;
}

.copyright ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.copyright ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.copyright ul li:after {
    position: absolute;
    width: 1px;
    height: 10px;
    background: #fff;
    right: -12px;
    content: '';
    top: 7px;
}

.copyright ul li a {
    color: #fff !important;
    text-decoration: none;
}

.copyright ul li a:hover {
    color: orange !important;
}

.copyright ul li:last-child:after {
    display: none;
}

.copyright p {
    margin: 0;
    color: #fff;
    text-align: right;
}

section.card-area .carousel-area.desktop {
    display: block !important;
}
section.card-area .carousel-area.mobile {
    display: none !important;
}

.inner-hero-area.slider .carousel-inner {
    height: 490px;
}

.plan-list h3 {
    text-align: center;
    margin-bottom: 20px;
}
.plan-list ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.plan-list ul li {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-shadow: 0px 1px 1px #0000001f;
    color: #000;
    font-weight: bold;
    background: #fff;
}

.plan-list ul li span {
    float: right;
}

.plan-list ul.ff li {
    background: bisque;
}
.plan-list ul.dd li {
    background: #cddc39;
}

.plan-list ul.cc li {
    background: #90e0ef;
}

/*Button UI*/
ul.meals li {
    position: relative;
    /*color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
      border-bottom: 1px solid #333;*/
}

ul.meals li input[type='radio'] {
    position: absolute;
    visibility: hidden;
}

ul.meals li label {
    display: block;
    position: relative;
    font-weight: 700;
    padding: 0 0 0 30px;
    margin: 0 auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: none !important;
    text-align: left;
}

ul.meals li:hover label {
    color: #ffffff !important;
    border: none !important;
}

ul.meals li .check {
    display: block;
    position: absolute;
    border: 3px solid #000;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 9px;
    left: 20px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
}

ul.meals li:hover .check {
    border: 3px solid #ffffff;
}

ul.meals li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

ul.meals input[type='radio']:checked ~ .check {
    border: 3px solid #fff;
}

ul.meals input[type='radio']:checked ~ .check::before {
    background: #fff;
}

ul.meals input[type='radio']:checked ~ label {
    color: #fff !important;
}

/*==================*/
h3.meal-days {
    position: relative;
    /*color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
      border-bottom: 1px solid #333;*/
}

h3.meal-days input[type='radio'] {
    position: absolute;
    visibility: hidden;
}

h3.meal-days label {
    display: block;
    position: relative;
    font-weight: 700;
    padding: 0 0;
    margin: 0 auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
}

h3.meal-days:hover label {
    color: #ffb542;
    border: 2px solid #f7e7b9;
}

h3.meal-days:hover label label {
    color: #000;
}

h3.meal-days input[type='radio']:checked ~ label {
    color: #ffb542;
    border: 2px solid #f7e7b9;
}

/*==================*/
.customize-yr-meal ul {
    padding: 0;
    list-style: none;
}
.customize-yr-meal ul li {
    position: relative;
    width: 100%;
}

.customize-yr-meal ul li input[type='radio'] {
    position: absolute;
    visibility: hidden;
}

.customize-yr-meal ul li label {
    display: block;
    position: relative;
    font-weight: 700;
    padding: 0 0;
    margin: 0 auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
}

.customize-yr-meal ul li:hover label {
    color: #ffb542;
    border-color: #ffb542;
}

.customize-yr-meal ul li input[type='radio']:checked ~ label {
    color: #ffb542;
    border-color: #ffb542;
}
/*==================*/
ul.ks-cboxtags {
    list-style: none;
    padding: 20px 0;
}
ul.ks-cboxtags li {
    display: inline-block;
    width: 22%;
    margin: 10px 15px 10px 0;
}
ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(139, 139, 139, 0.3);
    color: #adadad;
    border-radius: 10px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: fontawesome;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: '\f067';
    transition: transform 0.3s ease-in-out;
    position: absolute;
    right: 10px;
}

ul.ks-cboxtags li input[type='checkbox']:checked + label::before {
    content: '\f00c';
    transform: rotate(-360deg);
    transition: transform 0.3s ease-in-out;
    color: #000;
}

ul.ks-cboxtags li input[type='checkbox']:checked + label {
    border: 2px solid #ecdeb3;
    background-color: #fdecba;
    transition: all 0.2s;
    color: #000;
}

ul.ks-cboxtags li input[type='checkbox'] {
    display: absolute;
}
ul.ks-cboxtags li input[type='checkbox'] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type='checkbox']:focus + label {
    border: 2px solid #ecdeb3;
}

ul.ks-cboxtags li label span.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

ul.ks-cboxtags li label span.tt {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
ul.ks-cboxtags li label span.tt span.price {
    float: right;
}

ul.ks-cboxtags li label span img {
    max-height: 80px;
    width: auto;
}

.meal-lists span.total-price {
    float: right;
    border: 1px solid #ffa500;
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 22px;
}

.meal-lists span.total-price span {
    color: #ffa500;
}

.meal-list-cat {
    padding: 0;
    list-style: none;
}

.meal-list-cat .meal-item {
    display: inline-block;
    width: 31%;
    margin: 0 10px 30px 10px;
    padding: 20px;
    border-radius: 10px;
    background: #ffe4b5;
    box-shadow: 0 0 12px #0000001a;
    background-image: url(../imgs/pattern.png) !important;
    background-position: 0 60px;
    height: 190px;
    position: relative;
}

.meal-list-cat .meal-item .item {
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.meal-list-cat .meal-item .item .left {
    width: 80%;
}
.meal-list-cat .meal-item .item .right {
    width: 20%;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: yellow;
    background: #000;
    transform: rotate(-15deg);
    padding: 6px;
}

.sub .meal-list-cat .meal-item {
    width: 31%;
    margin: 0 0 30px 0;
    background: yellow;
    background-image: url(../imgs/pattern.png) !important;
    background-position: 0 60px;
    margin-left: 19px;
}

.sub .title {
    margin-bottom: 5rem !important;
}

.sub .meal-list-cat .meal-item.aqua {
    background: aqua;
}

.sub .meal-list-cat .meal-item.green {
    background: lightgreen;
}

body.modal-open {
    padding-right: 0 !important;
}
.modal-header {
    border-bottom: none !important;
}

.modal-content {
    background-color: #ff0 !important;
    border: none !important;
    border-radius: 20px !important;
}

.modal-body {
    padding: 0 40px 20px 40px !important;
}

.modal-body h3 {
    color: #000 !important;
}
.modal-body form {
    width: 100%;
    text-align: center;
}

.modal-body form a {
    color: #000 !important;
}

.modal-body form input {
    border-color: #000 !important;
    border-radius: 0 !important;
}

.modal-body form button.custom-btn {
    border: none;
    background: #000;
    color: #fff;

    text-transform: uppercase;
    margin-top: 20px;
    border: 2px solid #000 !important;
}

.modal-body form button.custom-btn svg {
    margin-left: 10px;
}

.modal-body form button.custom-btn:hover {
    background: none !important;
    border: 2px solid #000 !important;
    color: #000 !important;
}

.modal-body .description form ul,
.modal-body .description form h4 {
    text-align: left;
    padding-left: 0;
    list-style: none;
}
.modal-body .description form .count-footer {
    margin-top: 20px;
}
.modal-body .description form .count-footer .increment-buttons {
    text-align: left;
}

.modal-body .description .count-footer .increment-buttons button {
    background: none;
    border: 1px solid #000;
    box-shadow: none;
}
.modal .close {
    position: absolute;
    top: 30px !important;
    right: 30px !important;
    font-size: 19px !important;
    padding: 0 !important;
    z-index: 999;
    font-weight: normal;
    width: 25px;
    height: 25px;
    background: #000;
    line-height: 19px;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    border-radius: 50%;
}
.modal .close:hover {
    color: #fff;
}

.cart-menu-fixed .nav-tabs li a {
    color: orange !important;
}

.inner-section {
    margin-top: 60px;
}

.cart-menu-fixed .offset-categories {
    width: 100% !important;
}

.product h2 {
    color: yellow !important;
}
.checkoutpage label input {
    margin-right: 8px;
}

/*Rating Card*/
.rating-area img {
    width: 100%;
    height: auto;
}

.rating-area .for-mb {
    display: none;
}

/*MAP*/

.deliver-area .locations {
    background: url('https://i.ibb.co/kGBXPcq/map.png');
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px #0000000d;
}

.deliver-area .locations h3 {
    display: inline-block;
    font-size: 22px;
    margin-right: 15px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    margin-top: 6px;
    float: left;
}

.deliver-area .locations h3 .svg-inline--fa {
    color: #01a8fb !important;
    margin-right: 10px;
}

.deliver-area .locations ul {
    padding: 0;
    text-align: right;
    list-style: none;
    display: inline-block;
    z-index: 2;
    margin: 0;
    position: relative;
    float: right;
}

.deliver-area .locations ul li {
    display: inline-block;
    margin: 0 3px;
}
.deliver-area .locations ul li a {
    background: #00000082;
    padding: 0;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff !important;
    font-weight: bold;
    font-size: 13px !important;
    text-decoration: none;
}
.deliver-area .locations ul li a:hover {
    background: #01a8fb;
}
.deliver-area .overlay-bg {
    background: #ffffffc7;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/*MENU BOX*/
.menu-box {
    margin-top: 0;
}

.menu-box .title .img-box {
    display: inline-block;
    background: #fff;
    padding: 20px 10px 0 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 11px #0000001f;
}

section .pattern {
    background: #f9e9cb;
    display: inline-block;
    width: 100%;
    padding: 40px 50px;
}
.menu-box .menu-card {
    padding: 20px 50px;
}
.menu-box .menu-card h3.tt {
    position: relative;
    color: #ffa500;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
}
.menu-box .menu-card h3.tt:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../images/divider.png);
    height: 24px;
    width: 247px;
    background-repeat: no-repeat;
    bottom: -40px;
}

.menu-box .menu-card ul {
    list-style: none;
    padding: 0;
}

.menu-box .menu-card ul li {
    margin-bottom: 20px;
}

.menu-box .menu-card ul h3 {
    font-size: 20px;
    color: #1c1c1c;
    border-bottom: 1px solid #fff7df;
    padding-bottom: 10px;
    font-weight: bold;
}

.menu-box .menu-card ul h3 span {
    float: right;
}

.menu-box .menu-card ul p {
    font-size: 13px;
    letter-spacing: 2px;
}

.title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 100px;
}

.title img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.title h3 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
}

.title p {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
}

/*Reservation*/
.table-booked {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    margin-bottom: 50px;
}
.table-booked .img-box img {
    width: 100%;
    height: auto;
}

.table-booked .title {
    padding: 0;
}

.table-booked .title h3 {
    margin-bottom: 60px;
    position: relative;
}
.table-booked .title h3:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../images/divider2.png);
    height: 24px;
    width: 247px;
    background-repeat: no-repeat;
    bottom: -40px;
}

.table-booked .title p {
    line-height: 20px;
    letter-spacing: 1px;
}

.table-booked .frm-body label {
    font-size: 14px;
    font-weight: 600;
    color: #1b1e1f;
}

.table-booked .frm-body input,
.table-booked .frm-body textarea {
    border-radius: 0;
    font-size: 11px;
}
a {
    cursor: pointer;
}

.meal-list-cat .meal-item .left a.cart-btn {
    color: #fff !important;
}
.meal-list-cat .meal-item .left a.cart-btn:hover {
    color: #fff !important;
    background: orange !important;
}

.account-pages {
    border-top: 1px solid #f3f3f3;
}

.login-box {
    width: 750px;
    margin: 0 auto;
    text-align: center;
    background: #ffffd5;
    background-image: url(../imgs/pattern.png) !important;
    background-position: center -440px;
    border: 2px solid #f9f9cc;
}
.login-box .card-body {
    padding: 40px;
}
.login-box h3 {
    margin-bottom: 30px;
    position: relative;
    font-size: 42px;
    color: #ffb542;
    position: relative;
}

.login-box h3:after {
    position: absolute;
    width: 80px;
    height: 4px;
    background: orange;
    content: '';
    left: 0;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
    transform: rotate(2deg);
}
.login-box label {
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.login-box .form-group input {
    width: 100%;
    border: 1px solid #f7f7b8;
    padding: 15px;
}

.login-box .form-group textarea {
    width: 100%;
    border: 1px solid #f7f7b8;
    padding: 15px;
}

.login-box .useful {
    text-align: left;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.login-box .useful a {
    color: #4d4861;
    font-size: 12px;
}

.login-box .form-ftr {
    padding: 20px 0 0 0;
    border-top: 1px solid #ffff9c;
}

.login-box .form-ftr p {
    margin-bottom: 0;
}

.login-box .form-ftr a {
    font-size: 12px;
    color: #4d4861;
}

.login-box input[type='Submit'] {
    padding: 10px 50px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: #4d4861;
    margin: 0 0 20px 0;
}

.user-pages {
    padding: 50px 0;
}

.user-pages .acct-head h2 {
    color: #ffa500;
}
.user-pages .acct-head a {
    color: #4d4861;
    font-size: 14px;
    font-weight: bold;
}
.user-pages table {
    border: 1px solid #dee2e6;
}
.user-pages .table-striped thead tr {
    background: #4d4861;
    color: #fff;
}
.user-pages .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255 249 238);
}

.user-pages .table-striped tbody tr:nth-of-type(even) {
    background-color: rgb(255 226 172 / 53%);
}

.user-pages .table-striped h4 {
    font-size: 22px;
}

.user-pages .table-striped a {
    text-decoration: none;
    color: #4d4861;
}

.profile-sec {
    position: relative;
}
.user-pages .profile-sec span.profile-picture img {
    width: 100%;
    border: 2px solid #4d4861;
}
.user-pages h4.blue {
    margin-bottom: 20px;
    margin-top: 20px;
}
.profile-info-row {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-info-row .profile-info-name {
    font-weight: bold;
    margin-right: 20px;
    width: 15%;
}

a.edit-prf {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    background: #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}

a.edit-prf:hover {
    background: #b1b1b1;
}

/* */
.title-f {
    margin-bottom: 40px;
}
.panel.panel-default {
    margin-bottom: 20px;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default > .panel-heading .panel-title {
    margin-bottom: 0;
    font-size: 18px;
}

.panel-default > .panel-heading a {
    display: block;
    padding: 10px 15px;
    border: 1px solid #d8d8d8dd;
    text-decoration: none;
}

.panel-default > .panel-heading a:after {
    content: '';
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform 0.25s linear;
    -webkit-transition: -webkit-transform 0.25s linear;
}

.panel-default > .panel-heading a[aria-expanded='true'] {
    background-color: #eee;
}

.panel-default > .panel-heading a[aria-expanded='true']:after {
    content: '\2212';
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default > .panel-heading a[aria-expanded='false']:after {
    content: '\002b';
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel-collapse {
    padding: 20px;
    border: 1px solid #ddd;
}

@media (max-width: 767px) {
    html,
    body {
        overflow-x: hidden !important;
    }
    .top-bar p {
        text-align: center;
        /*padding: 0 130px 0 0;*/
    }

    .top-bar ul {
        text-align: center;
    }
    .top-bar .social ul {
        text-align: center;
    }
    .cart-cir-icon {
        top: 9px;
    }
    .login-box {
        width: auto;
    }
    .cart-cir-icon a.circle {
        width: 40px;
        height: 40px;
        line-height: 46px;
        font-size: 13px;
    }
    .header {
        padding: 30px 0 15px 0;
        border-bottom: 1px solid #ddd;
    }
    .navbar-brand {
        font-size: 22px !important;
    }

    .navbar-toggler {
        border: 2px solid #000 !important;
    }
    .navbar-toggler .navbar-toggler-icon {
        background: url('/images/menu.png') no-repeat;
        background-size: 100%;
    }
    /*.navbar-toggler .navbar-toggler-icon{
      background: url("/images/cancel.png") no-repeat;
    }*/

    .navbar-collapse ul li.nav-item a.nav-link {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }
    .header .navbar-expand-lg {
        justify-content: inherit;
        position: relative;
    }
    .header .navbar-expand-lg .navbar-toggler {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px 8px;
    }
    .slider .carousel-inner .carousel-item .overlay {
        height: 100%;
        background: rgb(0 0 0 / 75%);
    }
    .slider .carousel-inner,
    .slider .carousel {
        height: auto;
    }

    .slider .carousel-inner .carousel-caption h5 {
        font-size: 32px;
    }

    .slider .carousel-inner .carousel-caption p {
        font-size: 14px;
    }

    .slider .carousel-inner .carousel-caption h5:after,
    .slider .carousel-inner .carousel-caption p:after {
        height: 3px;
    }

    section.card-area .title p {
        margin-bottom: 0;
    }
    section.card-area .carousel-area {
        margin-top: 40px;
    }
    section.card-area .title:after {
        height: 5px;
    }
    section.card-area .title h1 {
        font-size: 29px;
    }
    section.card-area .title p {
        padding: 0;
    }
    section.card-area .carousel-area ul li {
        width: 45%;
    }
    section.card-area .carousel-area ul li img {
        width: 100%;
        height: auto;
    }

    section.card-area .carousel-area.desktop {
        display: none !important;
    }
    section.card-area .carousel-area.mobile {
        display: block !important;
    }
    section.card-area .carousel-area.mobile .carousel-item a {
        display: inline-block;
        width: 100%;
    }
    section.card-area .carousel-area.mobile .carousel-item a img {
        width: 100%;
        height: auto;
    }

    section.bar-info h3 {
        font-size: 30px;
        color: #fff;
        margin-bottom: 20px;
        text-align: center;
    }

    section.bar-info:after {
        bottom: -18px;
    }

    footer .form-area {
        width: 100%;
    }

    footer .form-area input[type='email'] {
        width: 60%;
    }
    footer .form-area input[type='submit'] {
        width: 30%;
    }
    .copyright p {
        text-align: center;
        margin-top: 5px;
    }

    .copyright ul li {
        margin-right: 11px;
    }
    .copyright ul li:after {
        right: -8px;
    }

    .rating-area .for-mb {
        display: block;
    }

    .rating-area .for-dktp {
        display: none;
    }

    .deliver-area .locations h3 {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .deliver-area .locations h3 .svg-inline--fa {
        color: #01a8fb !important;
        margin-right: 10px;
        display: inline-block;
        width: 100%;
        font-size: 30px;
    }

    .deliver-area .locations ul {
        text-align: center;
    }

    .deliver-area .locations ul li {
        display: inline-block;
        margin: 5px 3px;
    }

    .title {
        padding: 0;
    }
    .menu-box .menu-card {
        padding: 20px 0;
    }

    section .pattern {
        padding: 40px 20px !important;
    }

    .menu-box .menu-card ul h3 {
        font-size: 13px;
    }

    .meal-list-cat .meal-item {
        width: 97%;
    }

    .meal-list-cat .meal-item .left a.cart-btn {
        color: #fff !important;
    }

    .meal-list-cat .meal-item .item .right {
        text-align: center;
        width: 40%;
        font-size: 15px;
        top: 33px;
        position: relative;
    }

    .meal-list-cat .meal-item .item .left p {
        width: 210px;
        margin-bottom: 0;
    }

    .view-detail-popup-body .meal-list-cat {
        margin: 0 auto;
        text-align: center;
    }

    ul.ks-cboxtags li {
        margin: 10px 0;
        width: 100%;
    }

    .slider .carousel-inner img {
        width: 100%;
        height: auto;
    }
    .slider.inner-hero-area .carousel-inner img {
        width: 100%;
        height: auto;
    }
    .sub .meal-list-cat .meal-item.aqua {
        width: 90%;
    }
    .sub .meal-list-cat .meal-item {
        width: 90%;
    }
    .inner-hero-area.slider .carousel-caption {
        top: 10%;
    }
    .meals-plan-schedule {
        padding: 20px !important;
    }
    .carousel-indicators li {
        width: 15px !important;
        height: 2px !important;
    }
    .slider.testimonial-slider .carousel-caption h5 {
        font-size: 20px !important;
    }
    .slider.testimonial-slider .testimonial-user-img {
        width: 34px !important;
        height: 34px !important;
    }
    .slider.testimonial-slider .carousel-inner {
        height: 360px !important;
    }
    .slider.testimonial-slider {
        padding: 70px 0 !important;
    }
    .inner-hero-area.slider .carousel-inner {
        height: auto !important;
    }
    .section-video video {
        width: 300px;
        height: 300px;
    }
    .product-items-list a.cart-btn {
        font-size: 11px !important;
    }
    .meal-list-cat span.price {
        font-size: 11px !important;
    }
    .view-detail-popup-body .meal-list-cat .meal-item {
        width: 77% !important;
    }
    .view-detail-popup-body .meal-list-cat .meal-item .item .left p {
        text-align: left;
        width: 100% !important;
    }
    .meal-lists span.total-price {
        display: block;
        text-align: center;
        margin: 10px 0;
        float: none;
    }
    .ser-box {
        height: 160px;
    }
    .lingalleryContainer[data-v-40681078] .lingallery figure img {
        width: 300px;
    }
    a.card-cart-icon {
        left: 265px !important;
        top: 150px !important;
        font-size: 12px !important;
        width: 33px !important;
        height: 33px !important;
    }
}
/* Additional css start */
.account-pages.contact-us {
    padding: 30px 0;
    margin: 0;
}
.meals-plan-schedule {
    padding: 50px;
}
.meals-plan-schedule .nav-tabs {
    border-bottom: 1px solid orange;
}
.meals-plan-schedule .nav-tabs .nav-link {
    color: orange !important;
    text-transform: uppercase;
}
.meals-plan-schedule .nav.nav-tabs {
    width: 70% !important;
    margin: 0 auto;
    height: 55px;
}
.meals-plan-schedule .nav-tabs .nav-item a {
    font-family: 'Chewy', cursive;
    font-size: 28px;
    letter-spacing: 6px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: orange !important;
}
.meals-plan-schedule .nav-tabs .nav-item {
    width: 100% !important;
}
.meals-plan-schedule .nav-tabs .nav-link.active {
    color: #fff !important;
    border-color: orange !important;
    background: orange !important;
}
.banner-btn {
    position: relative;
    top: 40px;
    font-size: 15px;
    transform: rotate(-4deg);
    border: 2px solid #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    color: #fff !important;
    font-weight: 600;
    text-decoration: none;
    width: auto;
    padding: 4px 15px;
}
.carousel-indicators {
    bottom: -14px !important;
}
.slider.testimonial-slider {
    background: #fff7df;
    padding: 70px;
}
.slider.testimonial-slider .carousel-caption h5 {
    color: #000;
    font-size: 50px;
    transform: inherit;
}
.slider.testimonial-slider .carousel-caption p {
    color: #000;
    transform: none;
}
.slider.testimonial-slider .carousel-inner {
    height: 150px;
}
.slider.testimonial-slider .carousel {
    height: auto !important;
}
.slider.testimonial-slider .carousel-caption p:after {
    background: transparent;
    position: relative;
}
.slider.testimonial-slider .testimonial-user-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
/* Additional css end */

/* blog css */

/*---------- Footer css Start -------*/
.ice_footer_wrapper {
    width: 100%;
    float: left;
    /*background-image: url('/../../../images/footer/bg.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.ice_footer_wrapper .widget {
    width: 100%;
    float: left;
    padding-top: 70px;
}
.widget_info {
    /*background-image: url('/../../../images/footer/shape.png');*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 40px 0 65px !important;
    z-index: 1;
}
.widget_info p {
    padding: 18px 16px 8px;
    color: #282727;
}
.widget_info ul.social_icon > li > a {
    width: auto;
    height: auto;
    line-height: inherit;
    border: none;
    margin: 0 5px;
    background-color: transparent;
}
.widget_info ul.social_icon > li > a {
    background-color: transparent;
    color: #b02b2b;
}
.widget_info ul.social_icon > li > a:hover {
    color: #444444 !important;
}
.widget_info ul.social_icon > li > a > i:before {
    margin-left: 0px;
    font-size: 17px;
}
.widget > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.widget.widget_page > ul > li > a {
    text-transform: capitalize;
    color: #ffffff !important;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.widget.widget_page > ul > li > a:hover {
    padding-left: 10px;
}
.widget.widget_page > ul > li > a > i:before {
    margin-left: 0px;
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}
.widget.widget_page > ul > li {
    padding-bottom: 7px;
}
.widget .widget-title {
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.widget.widget_news > ul > li {
    margin-bottom: 25px;
    width: 100%;
    float: left;
}
.widget.widget_news > ul > li .news_img {
    float: left;
    overflow: hidden;
}
.widget.widget_news > ul > li .news_img img {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.widget.widget_news > ul > li:hover .news_img img {
    transform: scale(1.3) skew(-5deg);
    -webkit-transform: scale(1.3) skew(-5deg);
    -moz-transform: scale(1.3) skew(-5deg);
    -ms-transform: scale(1.3) skew(-5deg);
    -o-transform: scale(1.3) skew(-5deg);
}
.widget.widget_news > ul > li .news_detail {
    width: calc(100% - 100px);
    float: left;
    padding: 25px 0 0 0;
    margin: 0;
}
.widget.widget_news > ul > li .news_detail p {
    font-size: 14px;
    color: #ffffff;
    line-height: 19px;
}
.widget.widget_news > ul > li .news_detail a {
    padding-bottom: 0;
    display: inline-block;
}
.ice_footer_wrapper .widget.widget_news > ul > li .news_detail a {
    color: #ffffff !important;
}
.widget.widget_address > ul > li {
    width: 100%;
    float: left;
    padding-bottom: 30px;
}
.widget.widget_address > ul > li .address_icon {
    width: 50px;
    float: left;
}
.widget.widget_address > ul > li .address_icon i {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    /*background-image:url('/../../../images/footer/shape1.png');*/
    color: #b02b2b;
}
.widget.widget_address > ul > li .address_icon i:before {
    margin-left: 0;
    font-size: 16px;
}
.widget.widget_address > ul > li .address_detail {
    width: calc(100% - 50px);
    float: left;
    padding-left: 10px;
}
.widget.widget_address > ul > li .address_detail h3 {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.widget.widget_address > ul > li .address_detail p {
    color: #ffffff;
    padding-top: 5px;
}
.ice_footer_wrapper .widget .address_detail a {
    color: #fff !important;
}
.home_version2 .ice_footer_wrapper .widget .address_detail a {
    color: #97a333 !important;
}
.widget_info .shape_img img {
    width: 100%;
    height: 100%;
}
/*---------- Footer css End -------*/
/*---------- Blog single css Start -------*/
.blog_wrapper .blog_Section.blog_single {
    border: none;
}
.blog_Section.blog_single .blog_detail {
    padding: 30px 0;
}
.blog_Section.blog_single .blog_detail .ice_heading {
    font-size: 30px;
    color: #444444;
    padding-bottom: 10px;
}
.blog_Section.blog_single .blog_detail p {
    padding-bottom: 20px;
}
.blog_Section.blog_single .blog_detail p.blockquote {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 30px 50px;
    margin-bottom: 30px;
    font-style: italic;
    position: relative;
    z-index: 1;
}
.blog_Section.blog_single .blog_detail p.blockquote:after,
.blog_Section.blog_single .blog_detail p.blockquote:before {
    position: absolute;
    content: '\f104';
    font-family: Flaticon;
    left: 29px;
    top: 25px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.05);
    z-index: -1;
}
.blog_Section.blog_single .blog_detail p.blockquote:after {
    content: '\f103';
    right: 50px;
    left: auto;
}
.blog_Section.blog_single .blog_detail > ul.social_icon > li > a i:before {
    margin-right: 0px;
}
.blog_Section.blog_single .blog_detail > ul.social_icon > li > a {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: #b6b6b6;
}
.blog_Section.blog_single .blog_detail > ul.social_icon > li > a:hover {
    color: #ffffff !important;
    background-color: #b02b2b;
}
.blog_Section.blog_single .blog_detail > ul.social_icon > li:after {
    display: none;
}
.section-top-padding {
    padding: 50px 0;
}
.ice_sidebar .widget.widget_category ul li {
    padding: 7px 0;
}
.ice_sidebar .widget ul li {
    border-bottom: 1px solid rgba(72, 72, 72, 0.48);
}
.ice_sidebar .widget ul li a {
    color: #000 !important;
}
.ice_sidebar .widget.widget_news ul li {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.ice_sidebar .widget.widget_news ul li .news_detail ul li {
    display: inline-block;
    margin-right: 10px;
    margin: 0;
    padding: 0;
}
.ice_sidebar .widget.widget_news ul li .news_detail ul li a {
    color: #b6b6b6 !important;
    font-size: 14px;
}
.ice_sidebar .widget.widget_news ul li .news_detail ul li a:hover {
    color: #b02b2b;
}
.ice_sidebar .widget.widget_news ul li .news_detail ul li a i:before {
    font-size: 14px;
    margin-right: 5px;
}
.news_detail ul {
    margin: 0;
    padding: 0;
}
.blog_wrapper .col-md-6 {
    float: left;
}
.blog_Section .blog_detail {
    width: 100%;
    float: left;
    padding: 30px 20px;
}
.ice_sub_heading,
.ice_sub_heading_white,
.widget-title {
    font-size: 22px;
    color: #b02b2b;
    display: inline-block;
    text-transform: capitalize;
}
.blog_Section .blog_detail ul {
    margin: 0px;
    list-style: none;
    padding: 5px 0;
}

.blog_Section .blog_detail ul li span {
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    padding-right: 15px;
}
.link {
    color: #b02b2b !important;
    text-decoration: none;
    text-transform: capitalize;
}
.blog_wrapper .blog_Section {
    margin-bottom: 30px;
    width: 100%;
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.blog_img img {
    width: 100%;
    height: 260px;
}
/* blog css end*/

/* Gallery css start */
.section-gallery {
    text-align: center;
    padding: 30px 0;
}
.section-gallery h3 {
    margin-bottom: 20px;
    font-size: 35px;
}
.gallery-img img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.gallery-img h4 {
    color: crimson;
    margin-bottom: 10px;
}
/* Gallery css end */

/* How it works start */
.section-video {
    text-align: center;
    padding: 60px 0;
}
.section-video h3 {
    margin: 20px;
    font-size: 35px;
}
/* How it works end */

/* Meal Menu start */
.meal-list-cat .meal-item .item .left h3 img {
    width: 60px;
    border-radius: 0;
    margin-right: 10px;
}
.meal-list-cat .meal-item .item .left h3 {
    font-size: 20px;
}
/*.meal-list-cat .meal-item .item .left p {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/
.meal-list-cat .meal-item .item .left a {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 10px;
}
/* Meal Menu end */

/* view detail popup start */
.view-detail-popup-body .meal-list-cat .meal-item {
    width: 100% !important;
    margin: 0;
}
.view-detail-popup-body .meal-list-cat {
    margin: 0;
}
.view-detail-popup-body .meal-list-cat .meal-item .item .left {
    width: 100%;
}
.view-detail-popup-body .meal-list-cat .meal-item .item .left img {
    display: inline-block;
    width: 150px;
    margin-bottom: 20px;
}
.view-detail-popup-body .meal-list-cat .meal-item .item .left h3 {
    white-space: inherit;
}
.view-detail-popup-body .meal-list-cat .meal-item .item .left p {
    white-space: inherit;
}
.scrollbar {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.style-3::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5;
}

.style-3::-webkit-scrollbar-thumb {
    background-color: #bad1e2;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    border: none;
    overflow: hidden;
}
.navbar .dropdown a {
    color: #000 !important;
}
a.dropdown-item:hover {
    background: aliceblue;
}
/* view detail popup end*/

.card-area.product-page {
    padding: 30px 0;
}
.become-partner,
.contact-us {
    padding: 20px 0;
    margin: 0;
}
.contact-us h3 {
    margin-bottom: -3px;
}
.become-partner-form h3 {
    margin-bottom: 10px;
}
.become-partner-form .card-body .form-group,
.contact-us-form .card-body .form-group {
    margin-bottom: 0.5rem;
}
.navbar-nav {
    margin-top: 10px;
}
.nav-item.partner-btn {
    border: 1px solid #ddd;
    background: #3490dc !important;
    border-radius: 24px;
    padding: 5px 18px;
    margin: 0;
    margin-top: -5px;
}
.nav-item .nav-link.partner-link {
    color: #fff !important;
    padding: 0;
    font-size: 14px;
}
.free-delivery img {
    position: relative;
    top: -3px;
    left: -7px;
}
.carousel-indicators li {
    background-color: #000 !important;
    position: relative;
    top: 40px;
}
.slider.testimonial-slider .carousel-inner {
    height: 250px;
}
.our-plan-section h2 {
    text-align: center;
}
.home-banner .carousel-indicators li {
    top: 0;
}
.image-gallery {
    justify-content: center;
}
a.card-cart-icon {
    float: right;
    font-size: 17px;
    width: 40px;
    height: 40px;
    background: #ffa500;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 3;
    font-style: normal;
    color: #fff !important;
    position: absolute;
    top: 132px;
    left: 285px;
}
.lingalleryContainer[data-v-40681078] .lingallery {
    width: 600px !important;
}
.form-cart.order-selection {
    margin: 0px auto 8px 0;
    padding: 0 0 16px 0;
}
#postal-code-popup .modal-content .modal-body h3 {
    font-size: 15px;
    margin: 0;
}
#postal-code-popup .modal-content .modal-body h3 .close-icon {
    left: 0;
}
#postal-code-popup .modal-content .modal-body h3 .close-icon img {
    width: 18px;
    margin-left: 10px;
}
#postal-code-popup .form-cart.order-selection {
    text-align: center;
}
.postal-code-details form {
    width: 100%;
}
.form-cart .switch-field {
    display: flex;
    margin-bottom: -17px;
    overflow: hidden;
}

.form-cart .switch-field span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    margin-top: 4px;
}
.form-cart .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.form-cart .switch-field label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    width: 150px;
}

.form-cart .switch-field label:hover {
    cursor: pointer;
}

.form-cart .switch-field label img {
    width: auto !important;
    margin-right: 5px;
}

.form-cart .switch-field input:checked + label {
    color: #4498b9;
    background-color: #ebf3f9;
    box-shadow: none;
    border: 1px solid #4498b9;
    font-weight: 700;
}

.form-cart .switch-field label:first-of-type {
    border-radius: 20px 0 0 20px;
}

.form-cart .switch-field label:last-of-type {
    border-radius: 0 20px 20px 0;
}

.form-cart {
    max-width: 600px;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-weight: normal;
    line-height: 1.625;
    margin: 8px auto;
    padding: 16px;
    margin-left: 10px;
    @include media-breakpoint-down(sm) {
        margin-left: 22px;
    }
}

.form-cart h2 {
    font-size: 18px;
    margin-bottom: 8px;
}
#food-allergy .close-icon {
    left: 0;
}
.form-cart.order-selection {
    margin: 0px auto 8px 0;
    padding: 0 0 16px 0;
}
button.btn.btn-submit {
    background: #000 !important;
    color: #fff !important;
    border-radius: 50px !important;
    padding: 8px 35px;
}
.postal-code-details .form-group {
    position: relative;
    text-align: left;
}
.postal-code-details .form-group svg {
    position: absolute;
    top: 41px;
    right: 10px;
    color: darkgoldenrod;
}
.coming-soon p {
    font-size: 50px;
    color: orange;
    font-family: 'Chewy', cursive;
}
.special-offer-body p {
    font-size: 16px;
}
.meal-page {
    text-decoration: underline;
    margin-bottom: 10px;
    color: orange !important;
    font-size: 15px;
}
.partner-form p {
}
.cart .item-card-box table tr td {
    padding: 10px 2px;
}
.left-payment-section {
    background: aliceblue;
}
.widget_news .news_img a img {
    width: 150px;
    height: auto;
}
.thankyou-note .thanks-text {
    font-size: 45px;
}
.thankyou-note h3 {
    color: orange;
}
.slider-images img {
    width: 200px;
}
