<template>
    <div>
        <footer>
            <div class="ftr-top">
                <div class="container">
                    <div class="form-area">
                        <h3>Emails suck</h3>
                        <p>Ours don’t. Sign up for epic offers, diet tips & exercise bants!</p>
                        <div class="form-signup">
                            <input type="email" name="">
                            <input type="submit" value="Signup" name="">
                        </div>
                    </div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="http://www.Facebook.com/yourfakeaway" target="_blank"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com/yourfakeaway" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://www.YouTube.com/yourfakeaway" target="_blank"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a  @click="goToTerms">Terms & Conditions</a></li>
                                <li><a  @click="goToPrivacy">Privacy Policy</a></li>
                                <li><a  @click="goToCookie"> Cookie Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>Copyright@yourfakeaway, All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  methods: {

    goToTerms: function () {
      this.$router.push({ name: "terms" });
    },

    goToCookie: function () {
      this.$router.push({ name: "cookie-policy" });
    },

    goToPrivacy: function () {
      this.$router.push({ name: "privacy-policy" });
    },

  },
}
</script>