<template>
    <div>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p class="free-delivery">
                            <img src="images/fast.png" alt="" />Fast Delivery!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="social">
                            <ul>
                                <li>
                                    <a
                                        href="http://www.Facebook.com/yourfakeaway"
                                        target="_blank"
                                        ><i class="fab fa-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a
                                        href="http://www.twitter.com/yourfakeaway"
                                        target="_blank"
                                        ><i class="fab fa-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a
                                        href="https://www.youtube.com/channel/UCe2QlcYreItmdhgg2Q5DrIw"
                                        target="_blank"
                                        ><i class="fab fa-youtube"></i
                                    ></a>
                                </li>
                                <li>
                                    <a
                                        href="https://www.instagram.com/yourfakeaway/"
                                        target="_blank"
                                        ><i class="fab fa-instagram"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul v-if="!loggedIn">
                            <li>
                                <router-link :to="{ path: '/login' }">
                                    <a href="#">Login</a>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ path: '/register' }">
                                    <a href="#">Sign Up</a>
                                </router-link>
                            </li>
                        </ul>
                        <ul v-if="loggedIn">
                            <li>Welcome {{ userData.data.name }}</li>
                            <li>
                                <a @click="logOut">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="cart-cir-icon" v-click-outside="onClickOutside">
                <a
                    class="circle"
                    data-toggle="collapse"
                    href="#collapseExample"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    v-on:click="openCart = !openCart"
                >
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cnt">{{ myCartCount }}</span>
                </a>
                <div class="show-cart" v-if="openCart" id="hide">
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body view-cart">
                            <div class="row crt-bdy">
                                <div
                                    class="col-12"
                                    v-for="(item, index) in myCart"
                                >
                                    <div class="pro-dis">
                                        <h5>{{ item.name }}</h5>
                                        <p>
                                            Amount:
                                            <span class="qty"
                                                >{{ item.quantity }} x</span
                                            ><span>£ {{ item.price }}</span>
                                        </p>
                                        <div class="edit-options">
                                            <span
                                                class="removeBtn"
                                                @click="removeFromCart(item)"
                                            >
                                                <i class="fas fa-times"></i>
                                            </span>

                                            <span
                                                class="edit-btn"
                                                v-if="item.items"
                                                @click="goToEditPlans(item)"
                                            >
                                                <i
                                                    class="fas fa-edit"
                                                    @click="goToOurPlans()"
                                                ></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ftr-crt">
                                <div class="col-6 p-0">
                                    <p>
                                        <strong>Total: {{ totalPrice }}</strong>
                                    </p>
                                </div>
                                <div class="col-6 p-0 text-right">
                                    <a
                                        href="#"
                                        @click="goToCheckoutScreen"
                                        class="btn"
                                        >View Cart</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <router-link class="navbar-brand" :to="{ path: '/' }">
                        <a class="navbar-brand" href="javascript:;">
                            <img src="images/logo-fakeaway.png" alt="" />
                        </a>
                    </router-link>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    Menu
                                </a>
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="navbarDropdown"
                                >
                                    <a
                                        class="dropdown-item"
                                        v-for="(category,
                                        catindex) in categories"
                                        @click="goToProductScreen(category.id)"
                                    >
                                        {{ category.name }}
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    @click="goToHowItWorks"
                                    href="#"
                                    >How It Works</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    @click="goToGallery"
                                    href="#"
                                    >Food Porn</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    @click="goToOurPlans"
                                    href="#"
                                    >Meal Plans</a
                                >
                            </li>
                            <li class="nav-item"></li>
                            <li class="nav-item">
                                <a class="nav-link" @click="goToBlog" href="#"
                                    >Blog</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    @click="goToTestimonial"
                                    href="/testimonial"
                                    >Testimonials</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="goToFaq">Faqs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="goToContactUs"
                                    >Contact Us</a
                                >
                            </li>
                            <li class="nav-item partner-btn">
                                <a
                                    class="nav-link partner-link"
                                    style="color: #fff !important;"
                                    @click="goToPartner"
                                    href="#"
                                    >Become a Partner</a
                                >
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <download-menu
            @HideModalValue="hideModal"
            :showModalProp="showPopup"
            :isMenu="menu"
            :isAllergy="allergy"
        ></download-menu>
        <postal-code-popup
            @HideModalValue="hideModal"
            :showModalProp="showPostalCode"
        ></postal-code-popup>
        <special-offer
            :showModalProp="showSpecialOffer"
            @HideModalValue="hideModal"
        ></special-offer>
    </div>
</template>

<script>
import vClickOutside from 'v-click-outside'

export default {
    directives: {
        clickOutside: vClickOutside.directive,
    },

    props: ['cartCount', 'cartItems'],

    data() {
        return {
            postal_code: '',
            showSpecialOffer: '',
            error_message: '',
            showPopup: false,
            showPostalCode: false,
            menu: false,
            categories: [],
            allergy: false,
            myCartCount: this.$store.getters.getCartCount,
            myCart: this.$store.getters.getCart,
            val: '',
            openCart: false,
            userData: '',
        }
    },
    methods: {
        onClickOutside(event) {
            this.openCart = false
        },

        hideModal() {
            this.showPopup = false
            this.showPostalCode = false
            this.showSpecialOffer = false
        },

        removeFromCart(item) {
            this.$store.commit('removeFromCart', item)
            this.myCartCount = this.$store.state.cartCount
            this.myCart = this.$store.state.cart
        },

        openMenu() {
            this.showPopup = true
            this.menu = true
            this.allergy = false
        },

        openAllergy() {
            this.showPopup = true
            this.allergy = true
            this.menu = false
        },

        openPostalCode() {
            this.showPopup = false
            this.allergy = false
            this.menu = false
            this.showPostalCode = true
            this.showSpecialOffer = true
        },

        goToProductScreen(val) {
            this.$router.push({
                name: 'products',
                query: { menu: val },
            })

            let element = document.getElementById(val)
            element.scrollIntoView({ behavior: 'smooth', block: 'start' })
        },

        goToOurPlans: function() {
            window.location.href = '/our-plans'
        },

        goToEditPlans(selectedDeal) {
            this.$store.commit('setSelectedDeal', selectedDeal)
            window.location.href = '/edit-plans'
        },

        goToBlog: function() {
            this.$router.push({ name: 'blog' })
        },

        goToPartner: function() {
            this.$router.push({ name: 'become-a-partner' })
            this.$bvModal.show('special-offer-popup')
        },

        goToTestimonial: function() {
            this.$router.push({ name: 'testimonial' })
        },

        goToGallery: function() {
            this.$router.push({ name: 'gallery' })
        },

        goToHowItWorks: function() {
            this.$router.push({ name: 'how-it-works' })
        },

        goToCheckoutScreen: function() {
            this.$router.push({ name: 'check-out' })
        },

        goToFaq: function() {
            this.$router.push({ name: 'faq' })
        },

        goToContactUs: function() {
            this.$router.push({ name: 'contact-us' })
        },

        checkPostCode() {
            let vm = this
            if (this.postal_code == '') {
                vm.error_message = 'Please Enter Your Postal Code'
            } else {
                axios({
                    method: 'post',
                    url: '/api/check-postal',
                    data: {
                        postal_code: this.postal_code,
                    },
                })
                    .then(function(response) {
                        if (response.data.error === undefined) {
                            vm.error_message = response.data.data.amount
                            vm.$store.commit(
                                'setDeliveryCharges',
                                response.data.data.amount
                            )
                            vm.$router.push({
                                path: 'online-order/' + vm.postal_code,
                            })
                        } else {
                            vm.error_message =
                                'We are not providing food in your Area'
                        }
                    })
                    .catch(function(response) {
                        //handle error
                        console.log(response)
                    })
            }
        },

        getGeneralSetting() {
            axios({
                method: 'get',
                url: '/api/restaurant_info',
            })
                .then(function(response) {
                    if (response.data.error === undefined) {
                        console.log(response)
                    } else {
                        vm.error_message =
                            'We are not providing food in your Area'
                    }
                })
                .catch(function(response) {
                    //handle error
                    console.log(response)
                })
        },

        removeCart(item) {
            this.$store.commit('removeFromCart', item)
            this.myCartCount = this.$store.state.cartCount
            this.myCart = this.$store.state.cart
        },

        getCategories() {
            let _this = this
            _this.loading = true
            axios.get('/api/categories').then((response) => {
                _this.categories = response.data.data
                _this.loading = false
            })
        },

        loggedIn() {
            return this.$store.getters.getUserData
        },
        getUserData() {
            var user = JSON.parse(this.$store.getters.getUserData)
            this.userData = user
        },
        logOut() {
            localStorage.removeItem('user_data')
            location.reload()
        },
    },
    mounted() {
        this.getGeneralSetting()
        this.getUserData()
        this.getCategories()
    },
    watch: {
        cartCount(value) {
            this.myCartCount = value
        },
        cartItems(value) {
            this.myCart = value
        },
    },
    computed: {
        loggedIn() {
            return this.$store.getters.getUserData
        },
        totalPrice() {
            let total = 0

            for (let item of this.$store.state.cart) {
                total += item.price * item.quantity
            }

            return parseFloat(total).toFixed(2)
        },
    },
}
</script>
