<template>
  <div>
    <div class="container-fluid p-0">
      <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li v-for="(item, itemindex) in sliders"
              v-bind:class="{ active: itemindex == 0}"
              data-target="#carouselExampleCaptions"
              :data-slide-to="itemindex"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" v-bind:class="{ active: itemindex == 0}" v-for="(item, itemindex) in sliders">
            <img
                :src="item.image"
                class="d-block"
            />
          </div>
        </div>
        <a
            class="carousel-control-prev"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="prev"
        >
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                        ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
            class="carousel-control-next"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="next"
        >
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                        ></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>

</template>

<script>

    export default {
        components: {},
        methods: {
            getSlider(){
                let  _this = this
                _this.loading  = true;
                axios.get('/api/slider')
                    .then((response) => {
                        _this.sliders =  response.data.data;
                        console.log(_this.sliders)
                        _this.loading  = false;
                    });
            },
        },
        data: function () {
            return {
                sliders: [],
                index: null
            };
        },
        mounted() {
            this.getSlider();
            console.log('Component mounted.')
        }
    }
</script>

