<template>
  <div>
    <section class="slider testimonial-slider">
      <div class="container">
        <div
          id="carouselExampleCaptions1"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleCaptions1"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item" v-bind:class="{ active: itemindex == 0}" v-for="(item, itemindex) in testimonials">
              <div class="carousel-caption">
                <h5>
                  <img v-if="item.image" :src="item.image" alt="user-image" class="testimonial-user-img">
                  {{item.main_title}}
                </h5>
                <p>
                  {{item.description}}
                </p>
              </div>
            </div>
<!--            <div class="carousel-item">
              <div class="carousel-caption">
                <h5>
                  &lt;!&ndash; <img src="../../../imgs/profile.png" alt="user-image" class="testimonial-user-img"> &ndash;&gt;
                  Brian Robinson
                </h5>
                <p>
                  I started fakeaway meals to get me back on track after putting
                  weight on through an injury. I coach at an amateur boxing club
                  and highly recommend these to our athletes. You don't think
                  you're on a diet with the choices you get from the menu. 110%
                  worth a try.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <h5>
                  &lt;!&ndash; <img src="../../../imgs/profile.png" alt="user-image" class="testimonial-user-img"> &ndash;&gt;
                  Robson Leach
                </h5>
                <p>
                  I have been eating your fakeaway meals for 1 month & have lost
                  over 1 Stone so far... whilst eating all the food I would
                  normally crave on a diet.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <h5>
                  &lt;!&ndash; <img src="../../../imgs/profile.png" alt="user-image" class="testimonial-user-img"> &ndash;&gt;
                  Dave Miller
                </h5>
                <p>
                  Fakeaway meals help me stay on Track! They give me
                  consistency, variety and convenience. The meals are really
                  tasty and are easily inputted into my fitness pal so that I
                  can track my macros for the day! I have a busy lifestyle and
                  find it hard to fit in eating throughout the day and I'm also
                  very active so its really important I have these meals ready
                  and at the right times. Plus I love supporting a local
                  business ❤
                </p>
              </div>
            </div>-->
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleCaptions1"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleCaptions1"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import VueGallery from 'vue-gallery'
import { Hooper, Slide, Navigation as HooperNavigation } from 'hooper'

import 'hooper/dist/hooper.css'
export default {
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    gallery: VueGallery,
  },
  data: function() {
    return {
      images: ['../../images/mainbanner1.jpeg', '../../images/image00003.jpg'],
      testimonials: [],
      index: null,
      showPopup: false,
      menu: false,
      allergy: false,
    }
  },
  methods: {
    getTestimonials() {
      let _this = this
      axios.get('/api/our-story').then((response) => {
        _this.testimonials = response.data.data
        _this.loading = false
      })
    },
  },
  mounted() {
    this.getTestimonials()
  },
}
</script>
