<template>
    <div>
        <header-menu
            :cartCount="cartCount"
            :cartItems="cartItems"
        ></header-menu>
        <section class="slider inner-hero-area gallery">
            <div class="container-fluid p-0">
                <div
                    id="carouselExampleCaptions"
                    class="carousel slide"
                    data-ride="carousel"
                >
                    <div class="carousel-inner">
                        <img :src="slider_image" alt="..." class="d-block" />
                    </div>
                </div>
            </div>
        </section>
        <div class="seprator"></div>

        <section class="section-top-padding">
            <div class="ice_main_section1">
                <div class="container">
                    <div class="row">
                        <div
                            class="col-lg-4 col-md-4 col-sm-12 col-xs-12 theiaStickySidebar"
                        >
                            <div class="ice_sidebar">
                                <div class="widget widget_category">
                                    <h2 class="widget-title ice_sub_heading">
                                        Blogs
                                    </h2>
                                    <ul>
                                        <li v-for="(item, itemindex) in blogs">
                                            <a
                                                ><i class="flaticon-check"></i
                                                >{{ item.title }}</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget widget_news">
                                    <h2
                                        class="widget-title ice_sub_heading mt-4"
                                    >
                                        Blogs
                                    </h2>
                                    <ul>
                                        <li v-for="(item, itemindex) in blogs">
                                            <div class="news_img">
                                                <a href=""
                                                    ><img
                                                        alt=""
                                                        :src="item.image"
                                                /></a>
                                            </div>
                                            <div class="news_detail">
                                                <h4>
                                                    <a href="">{{
                                                        item.title
                                                    }}</a>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="blog_wrapper">
                                    <div
                                        class="col-md-6 pull-left"
                                        v-for="(item, itemindex) in blogs"
                                    >
                                        <div class="blog_Section wow slideup">
                                            <div class="blog_img ice_hover">
                                                <img
                                                    width="348"
                                                    height="277"
                                                    :src="item.image"
                                                    alt=""
                                                    class="img-responsive"
                                                />
                                                <div class="overlay">
                                                    <a href="javascript:;"
                                                        ><i
                                                            class="flaticon-right-arrow"
                                                        ></i
                                                    ></a>
                                                </div>
                                            </div>
                                            <div class="blog_detail">
                                                <h2 class="ice_sub_heading">
                                                    <a href="javascript:;"
                                                        >{{ item.title }}
                                                    </a>
                                                </h2>

                                                <p>{{ item.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
export default {
    components: {},
    data: function() {
        return {
            images: [
                '../../images/mainbanner1.jpeg',
                '../../images/image00003.jpg',
            ],
            slider_image: 'images/banners/banner4.png',
            blogs: [],
        }
    },
    mounted() {
        this.getblogs()
    },
    methods: {
        getblogs() {
            let _this = this
            _this.loading = true
            axios.get('/api/blogs').then((response) => {
                _this.blogs = response.data
                _this.loading = false
            })
        },
    },
}
</script>
