<template>
    <div>
        <header-menu
            :cartCount="cartCount"
            :cartItems="cartItems"
        ></header-menu>

        <section class="inner-section account-pages contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="col-12">
                            <div class="title-f">
                                <h1>Contact Us</h1>
                            </div>
                        </div>
                        <div class="mb-4">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2307.684907648239!2d-1.677748584659025!3d54.66237218302316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e824737dae981%3A0x88c3cbbd52f68372!2s82%20Newgate%20St%2C%20Bishop%20Auckland%20DL14%207EQ%2C%20UK!5e0!3m2!1sen!2s!4v1620652432219!5m2!1sen!2s"
                                width="560"
                                height="200"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"
                            ></iframe>
                        </div>
                        <div class="row text-center">
                            <div class="col-12 col-lg-4">
                                <a
                                    class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"
                                    ><i class="fa fa-map-marker"></i
                                ></a>
                                <p>
                                    82 Newgate street, DL14 7EQ, Bishop Auckland
                                </p>
                            </div>
                            <div class="col-12 col-lg-4">
                                <a
                                    class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"
                                    ><i class="fa fa-phone"></i
                                ></a>
                                <p>01388 147020</p>
                            </div>
                            <div class="col-12 col-lg-4">
                                <a
                                    class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"
                                    ><i class="fa fa-envelope"></i
                                ></a>
                                <p>info@yourfakeaway.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-6 col-lg-6">
                        <div
                            class="card border-primary rounded-0 contact-us-form"
                        >
                            <div class="card-header p-0">
                                <div
                                    class="bg-primary text-white text-center py-2"
                                >
                                    <h3>
                                        <i class="fa fa-envelope"></i> Write to
                                        us:
                                    </h3>
                                    <p class="m-0">
                                        We’ll write rarely, but only the best
                                        content.
                                    </p>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <div class="form-group">
                                    <label> Your name </label>
                                    <div class="input-group">
                                        <input
                                            value=""
                                            type="text"
                                            name="data[name]"
                                            class="form-control"
                                            id="inlineFormInputGroupUsername"
                                            placeholder="Your name"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Your email</label>
                                    <div class="input-group mb-2 mb-sm-0">
                                        <input
                                            type="email"
                                            value=""
                                            name="data[email]"
                                            class="form-control"
                                            id="inlineFormInputGroupUsername"
                                            placeholder="Email"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Subject</label>
                                    <div class="input-group mb-2 mb-sm-0">
                                        <input
                                            type="text"
                                            name="data[subject]"
                                            class="form-control"
                                            id="inlineFormInputGroupUsername"
                                            placeholder="Subject"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <div class="input-group mb-2 mb-sm-0">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="mesg"
                                        />
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input
                                        type="submit"
                                        name="submit"
                                        value="submit"
                                        class="btn btn-primary btn-block rounded-0 py-2"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer-menu></footer-menu>
    </div>
</template>

<script>
export default {
    data: function() {
        return {}
    },
    methods: {
        randomNumber: function() {
            return Math.floor(Math.random() * (10 - 1 + 1)) + 1
        },
    },
}
</script>
<style>
#contatti {
    background-color: black;
    letter-spacing: 2px;
}
#contatti a {
    color: #fff;
    text-decoration: none;
}
.maps iframe {
    height: 300px;
}

@media (max-width: 575.98px) {
    #contatti {
        padding-bottom: 800px;
    }
}

@media (min-width: 576px) {
    #contatti {
        padding-bottom: 800px;
    }
}

@media (min-width: 768px) {
    #contatti {
        padding-bottom: 350px;
    }
}

@media (min-width: 992px) {
    #contatti {
        padding-bottom: 200px;
    }
}

#author a {
    color: #fff;
    text-decoration: none;
}
</style>
