<template>
    <div>
        <header-menu></header-menu>

        <section class="inner-section account-pages">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card login-box">
                            <div class="card-body">
                                <h3>Edit Profile</h3>
                                <form>
                                    <div class="form-group">
                                        <label>
                                            Your Name
                                        </label>
                                        <input type="text" name="" placeholder="Enter Your Full Name">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Your Email
                                        </label>
                                        <input type="email" name="" placeholder="Enter Your Email">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Phone Number
                                        </label>
                                        <input type="phone" name="" placeholder="Enter Your Phone Number">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Your Address
                                        </label>
                                        <textarea placeholder="Netherlands Amsterdam"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Upload Photo</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                    <div class="form-ftr">
                                        <input type="Submit" name="" value="SAVE">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <footer-menu></footer-menu>
    </div>
</template>

<script>

    export default {
        components: {
        },
        data: function () {
            return {
            };
        },
        mounted() {
        },
        methods: {

        },
        computed: {

        },
        watch: {
        }
    }
</script>

