<template>
    <div>
        <header-menu></header-menu>
        <section class="inner-section account-pages">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-f text-center">
                            <h1>Frequently Asked Questions</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" v-for="(item, itemindex) in faqs" >
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Q {{item.id}} : {{item.question}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        {{item.answer}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
    export default {

        data: function () {
            return {
                faqs:[],
            };
        },

        methods: {
            getfaq() {
                let _this = this;
                _this.loading = true;
                axios.get('/api/faq')
                    .then((response) => {
                        _this.faqs = response.data;
                        _this.loading = false;
                    });
            },

        },
        mounted() {
            $('div#page_content').stop().animate({
                scrollTop: 0
            }, 'fast', 'swing');
        },
        created(){
            $('div#page_content').stop().animate({
                scrollTop: 0
            }, 'fast', 'swing');

            this.getfaq();
    }
    }


</script>
