<template>
    <div>
        <header-menu></header-menu>

        <section class="account-pages">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card login-box">
                            <div class="card-body">
                                <h3>Forgot Password</h3>

                                <form @submit.prevent="login" novalidate="">
                                    <div class="form-group">
                                        <label>Your Email</label>
                                        <input type="email" v-model="forgetPassword.email"
                                               placeholder="Enter Your Email">
                                    </div>
                                    <div class="form-ftr">
                                        <input type="submit" value="Submit">
                                        <p><a href="#" @click="goToSignupScreen">Create An Account</a></p>
                                    </div>
                                </form>

                                <p v-if="msg"> We have emailed your password reset link!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                msg :false,
                loading: false,
                errorMessage: "",
                showForgot: false,
                showLogin: true,
                registerModal: false,
                forgetPassword: {
                    email: '',
                },
                reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,

            };
        },

        methods: {

            goToSignupScreen: function () {
                this.$router.push({name: "register"});
            },

            login() {
                if (this.forgetPassword.email == '') {
                    alert("Email required");
                    return;
                }
                if (this.forgetPassword.email != '') {
                    if (!this.reg.test(this.forgetPassword.email)) {
                        alert('Invalid Email Address');
                        return;
                    }

                }

                let vm = this;

                axios({
                    method: 'post',
                    url: '/api/password/email',
                    data: this.forgetPassword,
                }).then(function (response) {
                        vm.msg = true;
                        vm.forgetPassword.email = '';
                }).catch(error => {
                    if (error.response) {
                        alert(error.response.data.error);
                    }
                });

            },

        },

    }
</script>

