<template>
    <div>
        <header-menu></header-menu>
        <section class="slider inner-hero-area gallery">
            <div class="container-fluid p-0">
                <div
                    id="carouselExampleCaptions"
                    class="carousel slide"
                    data-ride="carousel"
                >
                    <div class="carousel-inner">
                        <img :src="slider_image" alt="..." class="d-block" />
                    </div>
                </div>
            </div>
        </section>
        <div class="seprator"></div>

        <section class="section-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Gallery</h3>
                        <div class="row image-gallery">
                            <lingallery
                                :iid.sync="currentId"
                                :width="width"
                                :height="height"
                                :items="items"
                                :responsive="true"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials section start  -->
        <testimonials></testimonials>
        <!-- Testimonials section end -->

        <footer-menu></footer-menu>
    </div>
</template>

<script>
import Lingallery from 'lingallery'

export default {
    components: {
        Lingallery,
    },
    data: function() {
        return {
            slider_image: 'images/banners/banner2.png',
            images: [
                '../../images/mainbanner1.jpeg',
                '../../images/image00003.jpg',
            ],
            gallery: [],
            width: 600,
            height: 400,

            items: [
                {
                    src: '../../images/gallery/YFA_Dishes-4.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-4.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-8.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-8.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-14.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-14.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-25.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-25.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-29.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-29.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-36.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-36.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-40.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-40.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-46.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-46.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-54.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-54.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-54.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-54.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-61.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-61.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-64.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-64.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-76.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-76.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-81.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-81.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-107.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-107.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-118.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-118.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-123.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-123.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-130.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-130.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-131.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-131.jpg',
                },
                {
                    src: '../../images/gallery/YFA_Dishes-146.jpg',
                    thumbnail: '../../images/gallery/YFA_Dishes-146.jpg',
                },
            ],
            currentId: null,
        }
    },

    methods: {
        getImages() {
            let _this = this

            _this.loading = true
            axios.get('/api/gallery').then((response) => {
                _this.gallery = response.data.data

                _this.loading = false
            })
        },
    },

    created() {
        this.getImages()
    },
}
</script>
