<template>
    <div>
        <header-menu></header-menu>
        <section class="slider home-banner">
            <slider></slider>
        </section>
        <div class="seprator"></div>

        <section class="section-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0" @click="routeToPage">
                        <div class="ser-box one">
                            <img src="images/banners/animation3.gif" alt="" />

                            <!--
                            <h3>YOU ORDER</h3>
                            <p>
                                Choose from a selection of delicious, clean &
                                healthy meals.
                            </p>
                         -->
                        </div>
                    </div>
                    <div class="col-md-4 p-0" @click="routeToPage">
                        <div class="ser-box two">
                            <img src="images/banners/animation2.gif" alt="" />
                            <!-- 
                            <h3>WE PREPARE</h3>
                            <p>
                                Our chefs freshly prepare and customise your
                                meals according to your diet goals & macros.
                            </p>
                        --></div>
                    </div>
                    <div class="col-md-4 p-0" @click="routeToPage">
                        <div class="ser-box three">
                            <img src="images/banners/animation1.gif" alt="" />

                            <!-- 
                            <h3>AND DELIVER!</h3>
                            <p>
                                Get your meals delivered to your home or office
                                at a time that is convenient for you.
                            </p> 
                        --></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card-area fancy-section">
            <div class="container">
                <div class="title">
                    <h1>SO, WHAT TAKES YOUR FANCY?</h1>
                    <p>
                        We created Your Fakeaway keeping in mind that you don’t
                        have to eat boring, bland meals to achieve your fitness
                        goals. Our goal is to keep on digging the ideas to keep
                        it more & more exciting for you. We are the worlds first
                        ever takeaway style meal prep company.
                    </p>
                </div>
                <div class="carousel-area desktop">
                    <div
                        id="carouselExampleInterval"
                        class="carousel slide"
                        data-ride="carousel"
                    >
                        <div class="carousel-inner">
                            <div
                                class="carousel-item active"
                                data-interval="3000"
                            >
                                <ul>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img1.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img2.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img3.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img4.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img5.jpeg"
                                            />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item" data-interval="2000">
                                <ul>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img1.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img2.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img3.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img4.jpeg"
                                            />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="slider-images">
                                            <img
                                                src="../../imgs/slider-img/slider-img5.jpeg"
                                            />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a
                            class="carousel-control-prev"
                            href="#carouselExampleInterval"
                            role="button"
                            data-slide="prev"
                        >
                            <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                            ></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a
                            class="carousel-control-next"
                            href="#carouselExampleInterval"
                            role="button"
                            data-slide="next"
                        >
                            <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                            ></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="carousel-area mobile">
                    <div
                        id="carouselExampleIntervalmb"
                        class="carousel slide"
                        data-ride="carousel"
                    >
                        <div class="carousel-inner">
                            <div
                                class="carousel-item active"
                                data-interval="10000"
                            >
                                <a href="#">
                                    <img
                                        src="../../imgs/slider-img/slider-img1.jpeg"
                                    />
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="2000">
                                <a href="#">
                                    <img
                                        src="../../imgs/slider-img/slider-img2.jpeg"
                                    />
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="3000">
                                <a href="#">
                                    <img
                                        src="../../imgs/slider-img/slider-img3.jpeg"
                                    />
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <a href="#">
                                    <img
                                        src="../../imgs/slider-img/slider-img4.jpeg"
                                    />
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="5000">
                                <a href="#">
                                    <img
                                        src="../../imgs/slider-img/slider-img5.jpeg"
                                    />
                                </a>
                            </div>
                        </div>
                        <a
                            class="carousel-control-prev"
                            href="#carouselExampleIntervalmb"
                            role="button"
                            data-slide="prev"
                        >
                            <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                            ></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a
                            class="carousel-control-next"
                            href="#carouselExampleIntervalmb"
                            role="button"
                            data-slide="next"
                        >
                            <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                            ></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials section start  -->
        <testimonials></testimonials>
        <!-- Testimonials section end -->

        <section class="bar-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>ACHIEVE YOUR DIET GOALS</h3>
                    </div>
                    <div class="col-md-3">
                        <a href="/our-plans" class="cstm-btn">Order Now</a>
                    </div>
                </div>
            </div>
        </section>

        <footer-menu></footer-menu>
    </div>
</template>

<script>
import VueGallery from 'vue-gallery'
import { Hooper, Slide, Navigation as HooperNavigation } from 'hooper'

import 'hooper/dist/hooper.css'
export default {
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        gallery: VueGallery,
    },
    data: function() {
        return {
            images: [
                '../../images/mainbanner1.jpeg',
                '../../images/image00003.jpg',
            ],
            stories: [],
            index: null,
            showPopup: false,
            menu: false,
            allergy: false,
        }
    },
    mounted() {
        // this.getStory();
        console.log('Component mounted.')
    },
    methods: {
        routeToPage() {
            window.location.href = '/our-plans'

            // this.$router.push({ name: "ourplans" });
        },
        /* getStory(){
                let  _this = this
                _this.loading  = true;
                axios.get('/api/our-story')
                    .then((response) => {
                        _this.stories =  response.data.data;
                        _this.loading  = false;
                    });
            },*/
    },
}
</script>
