<template>
    <div>
        <header-menu></header-menu>

        <!--         <section class="section-video">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="coming-soon">
                            <p>Coming Soon...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="section-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0" @click="routeToPage">
                        <div class="ser-box one">
                            <img src="images/banners/animation3.gif" alt="" />
                        </div>
                    </div>
                    <div class="col-md-4 p-0" @click="routeToPage">
                        <div class="ser-box two">
                            <img src="images/banners/animation2.gif" alt="" />
                        </div>
                    </div>
                    <div class="col-md-4 p-0" @click="routeToPage">
                        <div class="ser-box three">
                            <img src="images/banners/animation1.gif" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials section start  -->
        <testimonials></testimonials>
        <!-- Testimonials section end -->

        <footer-menu></footer-menu>
    </div>
</template>

<script>
export default {
    components: {},
    data: function() {
        return {
            images: [
                '../../images/mainbanner1.jpeg',
                '../../images/image00003.jpg',
            ],
        }
    },
}
</script>
