<template>
    <div>
        <header-menu></header-menu>

        <section class="account-pages">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card login-box">
                            <div class="card-body">
                                <h3>Login</h3>

                                <form @submit.prevent="login" novalidate="">
                                    <div class="form-group">
                                        <label>Your Email</label>
                                        <input type="email" v-model="userRegister.email" name="email" placeholder="Enter Your Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" v-model="userRegister.password" name="password" placeholder="Enter Your Password">
                                    </div>
                                    <!--<div class=useful>
                                        <a href="#">forgot Password</a>
                                    </div>-->
                                    <div class="form-ftr">
                                        <input type="submit" value="Login">
                                        <p><a href="#" @click="goToSignupScreen">Create An Account</a></p>
                                        <p><a href="#" @click="forgetPassword">Forget Password</a></p>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>

    export default {
        components: {
        },
        data: function () {
            return {
                loading: false,
                errorMessage: "",
                showForgot: false,
                showLogin: true,
                registerModal: false,
                userRegister:{
                    email:'',
                    password:'',
                    device_type:'web',
                    device_token:'web',
                },
                reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,

            };
        },
        mounted() {
        },
        methods: {

            goToSignupScreen: function () {
                this.$router.push({ name: "register" });
            },
            forgetPassword: function () {
                this.$router.push({ name: "forgot-password" });
            },

            login() {

                if(this.userRegister.email == ''){
                    alert("Email required")
                    return;
                }
                if (this.userRegister.email != '') {
                    if(!this.reg.test(this.userRegister.email)){
                        alert('Invalid Email Address');
                        return;
                    }

                }
                if (this.userRegister.password == '') {
                    alert('Provide Password');
                    return;
                }

            let vm = this;

                axios({
                    method: 'post',
                    url: '/api/auth/login',
                    data: this.userRegister,
                }).then(function (response) {
                    vm.$store.commit('setUserData', JSON.stringify(response.data));
                    window.location.href = "/products";

                }).catch(error => {
                    if(error.response){
                        alert( "Invalid User name password" );
                    }
                });

            },

        },
        computed: {

        },
        watch: {
        }
    }
</script>

