<template>
    <div>
        <header-menu></header-menu>

        <section class="inner-section account-pages user-pages">
            <div class="container">
                <div id="home" class="myprofile">
                    <div class="row acct-head">
                        <div class="col-12 col-lg-6">
                            <h2>My Profile</h2>
                        </div>
                        <div class="col-12 col-lg-6">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">My Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">My Account</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4 profile-sec">
                        <div class="col-12 col-lg-3">
                    <span class="profile-picture">
                      <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="http://bootdey.com/img/Content/avatar/avatar6.png">
                    </span>
                        </div><!-- /.col -->
                        <div class="col-12 col-lg-9">
                            <h4 class="blue">
                                <span class="middle">John Doe</span>
                            </h4>

                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Username </div>

                                    <div class="profile-info-value">
                                        <span>alexdoe</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Location </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>Netherlands</span>
                                        <span>Amsterdam</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Age </div>

                                    <div class="profile-info-value">
                                        <span>38</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Joined </div>

                                    <div class="profile-info-value">
                                        <span>2020/06/20</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                        <a href="#" class="edit-prf">Edit Profile</a>
                    </div><!-- /.row -->
                </div>
            </div>
        </section>

        <footer-menu></footer-menu>
    </div>
</template>

<script>

    export default {
        components: {
        },
        data: function () {
            return {
            };
        },
        mounted() {
        },
        methods: {

        },
        computed: {

        },
        watch: {
        }
    }
</script>

