<template>
    <div>
        <header-menu
            :cartCount="cartCount"
            :cartItems="cartItems"
        ></header-menu>
        <!--         <section class="slider inner-hero-area">
                <div class="container-fluid p-0">
                    <div class="carousel-inner">
                        <img :src="slider_image" class="d-block" alt="...">
                        <div class="overlay"></div>
                        <div class="carousel-caption">
                            <h5>Our Meals</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                </div>
            </section> -->
        <span v-for="errorMessage in errorMessage" style="color: red;">{{
            errorMessage
        }}</span>
        <!-- Weekly and Monthly tabs -->
        <section class="meals-plan-schedule">
            <div class="row">
                <div class="col-md-12">
                    <section class="card-area our-plan-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="plan-list">
                                        <h2>
                                            Select Meals
                                        </h2>
                                        <div class="meal-days">
                                            <ul class="meals ff">
                                                <li
                                                    v-for="(plan,
                                                    itemindex) in plans"
                                                >
                                                    <input
                                                        :id="
                                                            'f-option' + plan.id
                                                        "
                                                        :data-category="
                                                            plan.meals_per_day
                                                        "
                                                        :data-price="plan.price"
                                                        :data-total="1"
                                                        name="selectedDeal"
                                                        type="radio"
                                                        value="35"
                                                        @change="
                                                            dealSelect($event)
                                                        "
                                                    />
                                                    <label
                                                        :for="
                                                            'f-option' + plan.id
                                                        "
                                                        >{{
                                                            plan.meals_per_day
                                                        }}
                                                        Meals
                                                        <span
                                                            >£{{
                                                                plan.price
                                                            }}</span
                                                        ></label
                                                    >
                                                    <div class="check">
                                                        <div
                                                            class="inside"
                                                        ></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row mt-5 mb-5">
                                <div class="col-md-12">
                                    <div class="meal-lists">
                                        <h3>
                                            Select Meals (Total :
                                            {{ maxProducts }})
                                            <span class="total-price">
                                                Total Price:
                                                <span class="pp"
                                                    >£ {{ mealPrice }}</span
                                                >
                                            </span>
                                        </h3>

                                        <ul class="ks-cboxtags product-lists">
                                            <li
                                                v-for="index in maxProducts"
                                                :key="index"
                                            >
                                                <select
                                                    v-model="
                                                        selectedProducts[index]
                                                    "
                                                    class="form-control"
                                                    name="selectedProducts"
                                                >
                                                    <option
                                                        :value="undefined"
                                                        disabled
                                                        >Select Your
                                                        Item</option
                                                    >
                                                    <option
                                                        v-for="(item,
                                                        itemindex) in products"
                                                        :key="item.id"
                                                        :value="item.id"
                                                    >
                                                        {{ item.name }}
                                                    </option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                    <a
                                        class="cart-btn"
                                        style="
                                            background: #4d4861; color: #fff;padding: 6px 20px;
                                            border-radius: 4px;text-transform: uppercase;font-weight: bold;font-size: 13px;text-decoration: none;"
                                        @click="postCodePopup"
                                        >Add to Cart</a
                                    >
                                </div>
                            </div>
                            <hr />
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <!-- Weekly and Monthly tabs end -->
        <section class="section-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <div class="ser-box one">
                            <h3>YOU ORDER</h3>
                            <p>
                                Choose from a selection of delicious, clean &
                                healthy meals.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="ser-box two">
                            <h3>WE PREPARE</h3>
                            <p>
                                Our chefs freshly prepare and customise your
                                meals according to your diet goals & macros.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="ser-box three">
                            <h3>AND DELIVER!</h3>
                            <p>
                                Get your meals delivered to your home or office
                                at a time that is convenient for you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bar-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>ACHIEVE YOUR DIET GOALS</h3>
                    </div>
                    <div class="col-md-3">
                        <a class="cstm-btn" href="#">Order Now</a>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>

        <post-code-popup
            :showModalProp="postCode"
            @HideModalValue="hideModal"
        ></post-code-popup>
        <meal-plan
            :showModalProp="showMealPlan"
            @HideModalValue="hideModal"
        ></meal-plan>
    </div>
</template>

<script>
import VueGallery from 'vue-gallery'
import { Hooper, Slide, Navigation as HooperNavigation } from 'hooper'

import 'hooper/dist/hooper.css'

export default {
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        gallery: VueGallery,
    },
    data: function() {
        return {
            images: [
                '../../images/mainbanner1.jpeg',
                '../../images/image00003.jpg',
            ],
            slider_image: '../../images/in-1.jpg',
            index: null,
            cartCount: this.$store.getters.getCartCount,
            cartItems: this.$store.getters.getCart,
            //mealPrice: this.$store.getters.getSelectedWeeklyDealPrice,
            mealPrice: 0,
            products: [],
            plans: [],
            selectedProducts: [],
            maxProducts: 0,
            errorMessage: [],
            selectedCategory: '',
            postCode: false,
            showMealPlan: '',
        }
    },
    mounted() {
        this.getProducts()
        this.getPlans()
        this.$bvModal.show('meal-plan-popup')
    },
    methods: {
        hideModal() {
            this.postCode = false
        },

        postCodePopup() {
            if (this.$store.getters.getPostalCode == '') {
                this.postCode = true
            } else {
                this.addToCart()
            }
        },

        addToCart() {
            let self = this

            let error = []

            var dealId
            do {
                dealId = Math.floor(Math.random() * 999)
            } while (dealId < 100)

            if (this.selectedProducts.length == 0) {
                alert('Please select deal products to add to cart')
                return
            } else if (this.selectedProducts.length < this.maxProducts) {
                alert('Please select all deal products to add to cart')
                return
            }

            self.errorMessage = error

            var item = {
                id: dealId,
                name: self.selectedCategory + ' Meals',
                price: self.mealPrice,
                quantity: 1,
                totalPrice: self.mealPrice,
                products: self.selectedProducts,
                meal_type: self.selectedCategory,
            }

            this.$store.commit('addDealToCart', item)
            this.cartCount = this.$store.state.cartCount

            this.cartItems = this.$store.state.cart

            $('#collapseExample').addClass('show')
        },

        dealSelect(event) {
            let self = this
            self.selectedProducts = []
            var price = event.target.getAttribute('data-price')
            var category = event.target.getAttribute('data-category')

            var selectedDays = event.target.getAttribute('data-total')

            self.mealPrice = price
            self.selectedCategory = category
            self.maxProducts = category * selectedDays
        },

        getProducts() {
            let _this = this
            _this.loading = true
            axios.get('/api/meal-products').then((response) => {
                _this.products = response.data.data
                _this.loading = false
            })
        },

        getPlans() {
            let _this = this
            _this.loading = true
            axios.get('/api/meal-plans').then((response) => {
                _this.plans = response.data.data
                _this.loading = false
            })
        },
    },
    computed: {},
    watch: {},
}
</script>
