<template>
    <div>
        <header-menu
            :cartCount="cartCount"
            :cartItems="cartItems"
        ></header-menu>

        <section class="slider inner-hero-area product-banner">
            <div class="container-fluid p-0">
                <div class="carousel-inner">
                    <img :src="slider_image" alt="..." class="d-block" />
                </div>
            </div>
        </section>
        <div class="seprator"></div>
        <section class="card-area product-page">
            <div class="container">
                <div
                    v-if="categories.length"
                    :id="categories[0].id"
                    class="title mb-3"
                >
                    <h1>{{ categories[0].name }}</h1>
                    <!-- <p>{{categories[0].description}}</p> -->
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <ul class="meal-list-cat">
                            <li
                                v-for="product in categories[0].products"
                                class="meal-item product-items-list"
                            >
                                <div :id="product.id" class="item">
                                    <div class="left">
                                        <h3>
                                            {{ product.name }}
                                        </h3>

                                        <p>
                                            {{
                                                product.description.substring(
                                                    0,
                                                    91
                                                ) +
                                                    (product.description
                                                        .length > 91
                                                        ? '...'
                                                        : '')
                                            }}
                                            <!-- {{ product.description.substring(0, 91) + '.' }} -->
                                        </p>

                                        <a
                                            href="javascript:"
                                            @click="viewDetailPopup(product)"
                                        >
                                            View More</a
                                        >
                                        <a
                                            v-b-tooltip.hover
                                            class="card-cart-icon"
                                            href="javascript:"
                                            title="Add to Cart"
                                            @click="postCodePopup(product)"
                                        >
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                    <div class="right">
                                        <span class="price">
                                            £ {{ product.price }}/=
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div v-if="categories.length > 1" class="row sub">
                    <div
                        v-for="(category, catindex) in categories"
                        v-if="catindex > 0"
                        :id="category.id"
                        class="col-md-12"
                    >
                        <div class="title mb-5">
                            <h1>{{ category.name }}</h1>
                        </div>
                        <ul class="meal-list-cat">
                            <!--<li class="meal-item" v-for="product in category.products" :class="{'': catindex % 2 === 0, 'aqua': catindex % 2 !== 0 }">-->
                            <li
                                v-for="product in category.products"
                                :class="{
                                    green: catindex === 1,
                                    green: catindex === 3,
                                    aqua: catindex === 2,
                                }"
                                class="meal-item product-items-list"
                            >
                                <div id="product.id" class="item">
                                    <div class="left">
                                        <h3>
                                            {{ product.name }}
                                        </h3>
                                        <p>
                                            {{
                                                product.description.substring(
                                                    0,
                                                    91
                                                ) +
                                                    (product.description
                                                        .length > 91
                                                        ? '...'
                                                        : '')
                                            }}
                                        </p>
                                        <a
                                            href="javascript:"
                                            @click="viewDetailPopup(product)"
                                        >
                                            View More</a
                                        >
                                        <a
                                            v-b-tooltip.hover
                                            class="card-cart-icon"
                                            href="javascript:"
                                            title="Add to Cart"
                                            @click="addToCart(product)"
                                        >
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                    <div class="right">
                                        <span class="price">
                                            £ {{ product.price }}/=
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <div class="ser-box one">
                            <h3>YOU ORDER</h3>
                            <p>
                                Choose from a selection of delicious, clean &
                                healthy meals.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="ser-box two">
                            <h3>WE PREPARE</h3>
                            <p>
                                Our chefs freshly prepare and customise your
                                meals according to your diet goals & macros.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="ser-box three">
                            <h3>AND DELIVER!</h3>
                            <p>
                                Get your meals delivered to your home or office
                                at a time that is convenient for you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bar-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>ACHIEVE YOUR DIET GOALS</h3>
                    </div>
                    <div class="col-md-3">
                        <a class="cstm-btn" href="#">Order Now</a>
                    </div>
                </div>
            </div>
        </section>

        <footer-menu></footer-menu>
        <view-detail
            :selectedProduct="selectedProduct"
            :showModalProp="viewDetail"
            @HideModalValue="hideModal"
        ></view-detail>

        <post-code-popup
            :showModalProp="postCode"
            @HideModalValue="hideModal"
        ></post-code-popup>
    </div>
</template>

<script>
import VueGallery from 'vue-gallery'
import { Hooper, Slide, Navigation as HooperNavigation } from 'hooper'

import 'hooper/dist/hooper.css'

export default {
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        gallery: VueGallery,
    },
    data: function() {
        return {
            viewDetail: false,
            images: [
                '../../images/mainbanner1.jpeg',
                '../../images/image00003.jpg',
            ],
            slider_image: 'images/banners/banner3.png',
            index: null,
            categories: [],
            cartCount: this.$store.getters.getCartCount,
            postal_code: '',
            cartItems: this.$store.getters.getCart,
            selectedProduct: null,
            postCode: false,
        }
    },
    mounted() {
        this.getCategories()
        this.$store.commit('setGymID', this.$route.query.gym)
    },
    methods: {
        hideModal() {
            this.viewDetail = false
            this.postCode = false
        },

        imageUrlAlt(event) {
            event.target.src = '../../images/banner1.jpg'
        },

        viewDetailPopup(product) {
            this.viewDetail = true
            this.selectedProduct = product
        },

        postCodePopup(item) {
            if (this.$store.getters.getPostalCode == '') {
                this.postCode = true
            } else {
                this.addToCart(item)
            }
        },

        getCategories() {
            let _this = this
            _this.loading = true
            axios.get('/api/categories').then((response) => {
                _this.categories = response.data.data
                _this.loading = false
            })
        },
        addToCart(item) {
            this.$store.commit('addToCart', item)
            this.cartCount = this.$store.state.cartCount

            this.cartItems = this.$store.state.cart

            $('#collapseExample').addClass('show')
        },

        away: function() {
            console.log('clicked away')
        },
    },
    computed: {},
    created() {
        let self = this

        setTimeout(function() {
            let id = self.$route.query.menu
            let element = document.getElementById(id)
            element.scrollIntoView({ behavior: 'smooth', block: 'start' })

            if (
                window.localStorage.getItem('specialPopup') == null ||
                window.localStorage.getItem('specialPopup') == 0
            ) {
                self.$store.commit('setSpecialPopup', 1)
                self.$bvModal.show('special-offer-popup')
            }
        }, 1000)
    },
    watch: {},
}
</script>
