<template>
    <div>
        <header-menu></header-menu>

        <section class="account-pages">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card login-box">
                            <div class="card-body">
                                <h3>Sign Up </h3>

                                <form  @submit.prevent="register">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Your Name
                                                        </label>
                                                        <input type="text" name="" placeholder="Enter Your Full Name"  v-model="userRegister.name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Your Email :
                                                        </label>
                                                        <input type="email" name="" placeholder="Enter Your Email" v-model="userRegister.email">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Phone Number
                                                        </label>
                                                        <input type="phone" name="" placeholder="Enter Your Phone Number" v-model="userRegister.phone">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Password
                                                        </label>
                                                        <input type="password" name="" placeholder="Enter Your Password" v-model="userRegister.password">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>
                                                            Confirm Password
                                                        </label>
                                                        <input type="password" name="" placeholder="Enter Confirm Password">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-ftr">
<!--                                                        <input type="Submit" name="" value="Sign Up">-->
                                                        <button class="custom-btn btn-block">SignUp</button>
                                                        <p><a href="#" @click="goToLoginScreen">Already User! Signin</a></p>
                                                        <p><a href="#" @click="forgetPassword">Forget Password</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <footer-menu></footer-menu>
    </div>
</template>

<script>

    import VueGallery from 'vue-gallery';
    import {
        Hooper,
        Slide,
        Navigation as HooperNavigation
    } from 'hooper';

    import 'hooper/dist/hooper.css';
    export default {
        components: {
        },
        data: function () {
            return {
                userRegister:{
                    name:'',
                    email:'',
                    phone:"",
                    password:'',
                    gymID:window.localStorage.getItem('gymID') == null ? 0 :window.localStorage.getItem('gymID'),
                },
                reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
                errors: {
                    name: '',
                    email: '',
                    phone:'',
                    password:'',
                    email_exists: ''
                }

            };
        },
        mounted() {
        },
        methods: {

            register() {
                this.errors = {
                    name:"",
                    email:'',
                    phone:'',
                    password:"",
                    email_exists:""
                };
                if(this.userRegister.name == ''){
                    alert('First name is requried');
                    // this.errors.first_name =
                    return;
                }

                if(this.userRegister.email == ''){
                    alert('Email address is requried');
                    // this.errors.email =
                    return;
                }
                if (this.userRegister.email != '') {
                    if(!this.reg.test(this.userRegister.email)){
                        alert( 'This email address is invalid');
                        //this.errors.email =;
                        return;
                    }

                }

                if (this.userRegister.phone == '') {
                    alert( 'This phone is requried');
                   // this.errors.password = '';
                    return;
                }
                if (this.userRegister.password == '') {
                    alert( 'This password is requried');
                    //this.errors.password = '';
                    return;
                }


                var data = {
                    name: this.userRegister.name,
                    email: this.userRegister.email,
                    phone:this.userRegister.phone,
                    password: this.userRegister.password,
                    gymID:window.localStorage.getItem('gymID') == null ? 0 :window.localStorage.getItem('gymID'),
                };

                let vm = this;

                axios({
                    method: 'post',
                    url: '/api/register',
                    data: data,
                }).then(function (response) {
                    vm.$store.commit('setUserData', JSON.stringify(response.data));
                     window.location.href = "/products";

                    // this.errors = {
                    //     first_name:"",
                    //     last_name:"",
                    //     email:'',
                    //     password:"",
                    //     status:"",
                    //     email_exists:""
                    // };

                }).catch(error => {
                    if(error.response){
                        alert( 'Already Email Exist Please Login');
                        // this.errors.email_exists = '';
                    }
                });

            },
            goToLoginScreen: function () {
                this.$router.push({ name: "login" });
            },
            forgetPassword: function () {
                this.$router.push({ name: "forgot-password" });
            },

        },
        computed: {

        },
        watch: {
        }
    }
</script>

