<template>
    <div>
        <header-menu></header-menu>
        <section class="account-pages">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card login-box">
                            <div class="card-body">
                                <h3>Reset Password</h3>

                                <div class="new-password-form auth-forms active">
                                    <form @submit.prevent="resetPassword">
                                        <div class="form-statement">
                                            <p>
                                                Enter your new password below.
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="password" :maxlength="25" v-model="formData.password"
                                                           class="form-control form-control-rounded"
                                                           placeholder="Enter your new password">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-12">
                                                <div class="form-group">
                                                    <label>Confirm Password</label>
                                                    <input type="password" data-vv-as="password_confirmation"
                                                           v-model="formData.password_confirmation"
                                                           class="form-control form-control-rounded"
                                                           placeholder="Re-enter new password">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-12">
                                                <button class="custom-btn btn-block">Reset Password</button>
                                            </div>
                                        </div>
                                    </form>
                                    <p>{{msg}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>

    export default {
        components: {},
        data: function () {
            return {
                msg:'',
                errorMessage: '',
                ContactIsExpire: false,
                successMessage: '',
                formData: {
                    email: this.$route.params.email,
                    password_confirmation: '',
                    password: '',
                    token: this.$route.params.token
                },
                loading: false,
                appName: window.appName
            }
        },
        mounted() {
        },
        methods: {
            resetPassword() {

                if(this.formData.password.length <  8){
                    alert('Provide 8 digit password');
                    return;
                }

                if (this.formData.password == '') {
                    alert('Provide Password');
                    return;
                }

                if (this.formData.password_confirmation == '') {
                    alert('Provide Confirm Password');
                    return;
                }
                if (this.formData.password_confirmation != this.formData.password) {
                    alert('Confirm Password is wrong');
                    return;
                }

                var vm = this;
                axios({
                    method: 'post',
                    url: '/api/password/reset',
                    data: this.formData,
                }).then(function (response) {
                        vm.msg = "Your Password has been changed please Login";
                        setTimeout(function () {
                            window.location.href = "/login";
                        },300)

                }).catch(error => {
                    if (error.response) {
                        alert(error.response.data.error);
                    }
                });
            },

        },
        computed: {},
        watch: {}
    }
</script>

