<template>
  <div>
    <header-menu></header-menu>

    <section class="slider inner-hero-area gallery">
      <div class="container-fluid p-0">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../imgs/banner1.jpg" class="d-block" alt="...">
              <div class="overlay"></div>
              <div class="carousel-caption">
                <h5>{{ title }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="seprator"></div>

    <section class="section-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>{{ title }}</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="gallery-img">
                  <p>{{ content }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials section end -->

    <footer-menu></footer-menu>
  </div>
</template>

<script>
export default {
  components: {
  },
  data: function () {
    return {
      content : "",
      title : ""
    };
  },
  mounted() {
    this.getCmsContent();
  },
  methods: {
    getCmsContent() {
      let _this = this;
      axios.get('/api/cms/terms')
          .then((response) => {

            _this.title = response.data.data.title;
            _this.content = response.data.data.content;

            console.log(response.data.data)

            //  _this.data = response.data;
          });
    },
  },
}
</script>

