<template>
    <div>
        <header-menu></header-menu>

        <section class="slider inner-hero-area gallery">
            <div class="container-fluid p-0">
                <div
                    id="carouselExampleCaptions"
                    class="carousel slide"
                    data-ride="carousel"
                >
                    <div class="carousel-inner">
                        <img :src="slider_image" alt="..." class="d-block" />
                    </div>
                </div>
            </div>
        </section>
        <div class="seprator"></div>

        <!-- Testimonials section start  -->
        <testimonials></testimonials>
        <!-- Testimonials section end -->

        <footer-menu></footer-menu>
    </div>
</template>

<script>
import VueGallery from 'vue-gallery'
import { Hooper, Slide, Navigation as HooperNavigation } from 'hooper'

import 'hooper/dist/hooper.css'
export default {
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        gallery: VueGallery,
    },
    data: function() {
        return {
            images: [
                '../../images/mainbanner1.jpeg',
                '../../images/image00003.jpg',
            ],
            slider_image: 'images/banners/banner.png',
            stories: [],
            index: null,
            showPopup: false,
            menu: false,
            allergy: false,
        }
    },
}
</script>
