<template>
    <div>
        <header-menu></header-menu>
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 thankyou-note">
                        <h3 style="text-align:center" id="page_content" class="thanks-text">Thank You!</h3>
                        <h3 style="text-align:center; margin-bottom: 40px;">Order has been confirmed. You will receive a confirmation email shortly.</h3>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {

            };
        },
        methods : {
            randomNumber : function(){
                return Math.floor(Math.random() * (10 - 1 + 1)) + 1;
            },

        },
        created(){
            $('div#page_content').stop().animate({
                scrollTop: 0
            }, 'slow', 'swing');
        }

    }
</script>



