<template>
    <div>
        <b-modal
            id="meal-plan-popup"
            @hidden="onHidden"
            centered
            ok-variant="primary"
            title-tag="h4"
            :hide-footer="true"
            ref="myModalRef"
            custom-modal
            no-close-on-backdrop
            class="custom-modal "
        >
            <h3 style="text-align:center">Meal Plan</h3>
            <br />
            <div
                class="row d-flex justify-content-center text-center special-offer-body"
            >
                <p>
                    Looking for a monthly meal plan? Please send us a message on
                    our Facebook page for details.
                </p>
                <p>
                    <a
                        href="https://www.facebook.com/messages/t/108414510801524"
                        target="_blank"
                        class="btn btn-primary"
                        >Send Message</a
                    >
                </p>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    props: ['showModalProp'],

    data: function() {
        return {
            plans: '',
        }
    },

    methods: {
        openMenu() {
            this.$emit('HideModalValue')
            javascript: window.open('./../files/our_menu.pdf')
        },

        showModal() {
            this.$refs.myModalRef.show()
        },
        onHidden() {
            this.$emit('HideModalValue')
        },
        hideModal() {
            var self = this
            this.$refs.myModalRef.hide()
        },
    },
    watch: {
        showModalProp(value) {
            if (value) {
                this.showModal()
            }
            if (!value) {
                this.hideModal()
            }
        },
    },
    mounted() {},
}
</script>
