<template>
  <div>
    <b-modal
        id="postal-code-popup"
        ref="myModalRef"
        :hide-footer=true
        centered
        custom-modal
        modal-class="postal-code-modal custom-modal"
        no-close-on-backdrop
        ok-variant="primary"
        size="sm"
        title="Post Code"
        title-tag="h4"
        @hidden="onHidden">

      <div class="row postal-code-details">
        <form>
          <div class="form-group">
            <label for=""><strong>Enter your Postcode:</strong></label>
            <input v-model="postal_code" class="form-control" placeholder="Enter your Postcode" type="text">
            <i class="fas fa-paper-plane"></i>
          </div>

          <p style="color:red">{{ error_message }} </p>
          <p style="color:green">{{ success_message }} </p>


          <button class="btn btn-submit" type="button" v-on:click="checkPostCode">
            <span>Submit</span>

          </button>
        </form>

      </div>


    </b-modal>
  </div>
</template>


<script>
export default {
  props: ['showModalProp'],
  data: function () {
    return {
      postal_code: '',
      error_message: '',
      success_message : '',
      order_type: '',
      showPostal: false

    };
  },
  methods: {

    showModal() {
      this.$refs.myModalRef.show();
    },
    onHidden() {
      this.$emit('HideModalValue');
    },
    hideModal() {
      var self = this;
      this.$refs.myModalRef.hide();
      this.$bvModal.hide('postal-code-popup');
      this.showPostal = false;
      this.order_type = ''
    },

    checkPostCode() {

      let vm = this;

      if (this.postal_code == "") {
        vm.error_message = 'Please Enter Your Post Code';
        setTimeout(function () {
          vm.error_message = "";
        }, 2000);
      } else {

          axios({
            method: 'post',
            url: '/api/check-postal',
            data: {
              postal_code: this.postal_code
            },
          }).then(function (response) {

              vm.$store.commit('setPostalCode', vm.postal_code);
              vm.$store.commit('setDeliveryCharges', response.data.data.amount);
              vm.success_message = "Great, we deliver to your area";

            setTimeout(function () {
              vm.success_message = "";
              vm.$emit('HideModalValue');

            }, 1000);


          })
          .catch(function (response) {
            //handle error
              vm.error_message = 'Sorry we don’t deliver to you yet, but we will in a 2 weeks';
              setTimeout(function () {
                vm.error_message = "";
              }, 2000);
          });

      }

    },

    showPostalCode() {
      let self = this;
      self.showPostal = false
    }

  },
  watch: {
    showModalProp(value) {
      if (value) {
        this.showModal();
      }
      if (!value) {
        this.hideModal();
      }
    }
  }
}
</script>
