<template>
    <div>
        <b-modal
            id="special-offer-popup"
            @hidden="onHidden"
            centered
            ok-variant="primary"
            title-tag="h4"
            :hide-footer="true"
            ref="myModalRef"
            custom-modal
            no-close-on-backdrop
            class="custom-modal "
        >
            <h3 style="text-align:center">Special Offer</h3>
            <br />
            <div
                class="row d-flex justify-content-center text-center special-offer-body"
            >
                <p>
                    Hey it looks like you’re missing out on our special
                    offers... why not go for our special offers
                    <strong>
                        ( {{plans}} )
                    </strong>
                </p>

                <a href="our-plans" class="meal-page mb-4"
                    >Click here to redirect on Meal plans page</a
                >
                <!--                <div class="check-offer-btn">
                    <button type="button" class="btn btn-submit"><span>Yes</span></button>
                    <button type="button" class="btn btn-submit"><span>No</span></button>
                </div>-->
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    props: ['showModalProp'],

    data: function() {
        return {
          plans : "",
        }
    },

    methods: {
        openMenu() {
            this.$emit('HideModalValue')
            javascript: window.open('./../files/our_menu.pdf')
        },

        showModal() {
            this.$refs.myModalRef.show()
        },
        onHidden() {
            this.$emit('HideModalValue')
        },
        hideModal() {
            var self = this
            this.$refs.myModalRef.hide()
        },
        getPlans() {
          let _this = this;
          _this.loading = true;
          axios.get('/api/meal-plans')
              .then((response) => {

                let message = "";

                if(response.data.data.length > 0) {
                  response.data.data.forEach( function (plan, index) {
                    if (index == 0) {
                        message += plan.meals_per_day+" x meals for only £"+plan.price;
                    } else {
                        message += " or "+plan.meals_per_day+" x meals for only £"+plan.price;
                    }
                  });
                  _this.plans = message;
                }

                _this.loading = false;
              });
        }
    },
    watch: {
        showModalProp(value) {
            if (value) {
                this.showModal()
            }
            if (!value) {
                this.hideModal()
            }
        },
    },
    mounted() {
      this.getPlans()
    }
}
</script>
