<template>
    <div>
        <b-modal
            id="view-detail-popup"
            @hidden="onHidden"
            centered
            ok-variant="primary"
            title-tag="h4"
            :hide-footer="true"
            ref="myModalRef"
            custom-modal
            no-close-on-backdrop
            modal-class="postal-code-modal custom-modal view-detail-popup-body"
        >
            <template #modal-title>View Product Detail</template>

            <div class="view-detail-popup-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="meal-list-cat">
                            <li class="meal-item  scrollbar style-3">
                                <div class="item">
                                    <div class="left">
                                        <div class="head-section">
                                            <h3>
                                                {{ detail.name }}
                                            </h3>
                                        </div>
                                        <p>{{ detail.description }}</p>
                                        <p
                                            v-if="
                                                detail.food_allergy != null &&
                                                    detail.food_allery != 'null'
                                            "
                                        >
                                            <b>Food Allergy: </b
                                            >{{ detail.food_allergy }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    props: ['showModalProp', 'selectedProduct'],

    data: function() {
        return {
            detail: {},
        }
    },
    methods: {
        showModal() {
            this.$refs.myModalRef.show()
        },

        imageUrlAlt(event) {
            event.target.src = '../../images/banner1.jpg'
        },

        onHidden() {
            this.$emit('HideModalValue')
        },
        hideModal() {
            var self = this
            this.$refs.myModalRef.hide()
        },
    },

    watch: {
        showModalProp(value) {
            if (value) {
                this.showModal()
            }
            if (!value) {
                this.hideModal()
            }
        },
        selectedProduct(value) {
            console.log(value)

            this.selectedProduct = value
            this.detail = value
        },
    },
}
</script>
